<mat-toolbar class="mat-elevation-z6">
  <span class="title">{{ product.name }}</span>
  <span class="subtile">Unidad/Presentación</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

<form class="main-form" [formGroup]="dataPresentationForm">
  <p>Los campos con * son obligatorios</p>
  <br />
  <mat-divider></mat-divider>
  <div class="main-form-field__container">
    <mat-form-field *ngIf="canRender">
      <mat-label>Unidad/presentación:</mat-label>
      <input
        matInput
        required
        placeholder="Botella de Lt."
        [readonly]="true"
        formControlName="presentation"
        [matAutocomplete]="auto"
      />
      <!-- [displayWith]="displayFn" -->
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Costo Unitario de Producción:</mat-label>
      <input
        type="number"
        matInput
        formControlName="unit_cost_production"
        placeholder="65"
        required
      />
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.unit_price_sale">
    <ng-container *ngIf="unitCostProduction.hasError(errorMessage.type) && (unitCostProduction.dirty || unitCostProduction.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Precio Unitario de Venta:</mat-label>
      <input
        type="number"
        matInput
        formControlName="unit_price_sale"
        placeholder="52"
        required
      />
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.unit_price_sale">
    <ng-container *ngIf="unitPrice.hasError(errorMessage.type) && (unitPrice.dirty || unitPrice.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>
  <button
    mat-raised-button
    color="primary"
    style="color: #ffffff"
    [disabled]="!dataPresentationForm.valid"
    (click)="saveData()"
  >
    Modificar
  </button>
</form>
