.main-empty__container {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  height: 50vh;
  /* background-color: yellow; */
  overflow-y: auto;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 300px;
}

img {
  opacity: 0.5;
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.main-content {
  order: 1;
  width: 100%;
}
.main-content__action {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.main-content p {
  margin-top: 20px;
  text-align: center;
}

.main-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  margin-top: 16px;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 36px;
}

button:hover {
  box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
  transition: 0.3s;
}


mat-card:hover {
  box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
  background-color: rgba(63, 254, 29, 0.267);
  color: rgba(58, 70, 81, 0.7);
  transition: 0.4s;
  cursor: pointer;
}
mat-card {
  width: 300px;
  margin: 16px;
}

.main-figure {
  width: 100%;
  order: 0;
}

.main-empty__container::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  /* display: none;  Ocultar scroll */
}

.main-empty__container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.main-empty__container::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.main-empty__container::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.main-empty__container::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.main-empty__container::-webkit-scrollbar-track:hover,
.main-empty__container::-webkit-scrollbar-track:active {
background: #d4d4d4;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }
  .main-content {
    order: 0;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .main-content__action {
    margin: 0px;
    height: 50%;
  }

  .main-figure {
    order: 1;
    width: 50%;
  }
  
  figure {
    padding: 20px;
    height: 500px;
  }

  img {
    width: 70%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {

}