<div class="main-empty__container">
    <div class="main-container">
      <section class="main-content">
        <div *ngIf="emptyData" class="main-content__action">
          <h1>{{ emptyData.title }}</h1>
          <p>{{ emptyData.subtitle }}</p>
          <button mat-raised-button (click)="actionBtn()">
            <mat-icon aria-hidden="false" aria-label="{2:label} icon-add">add</mat-icon>
            {{emptyData.btn}}
          </button>
        </div>
     </section>
      <mat-divider vertical="true"></mat-divider>
      <figure class="main-figure">
        <img [src]="emptyData.assets || 'assets/svg/empty-state.svg'" alt="no-data-images">
      </figure>
    </div>
  </div>