
<mat-toolbar>
  <span>{{data.name}} Articulo</span>
  <span class="spacer"></span>
  <button mat-icon-button color="primary" (click)="onClose('Close')">
    <mat-icon >clear</mat-icon>
  </button>
</mat-toolbar>


  <ng-template [ngIf]="data.name === 'Crear' || data.name === 'Modificar'" [ngIfElse]="Eliminar">

    <form [formGroup]="formArticle" class="main-form" (ngSubmit)="onSubmit(data.name ,categoria.value,unidad.value)">
      <div class="main-form-field__container">
        <mat-form-field>
        <mat-label>Codigo Articulo</mat-label>
        <input formControlName="cod_article"  maxlength="25" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              #nameArticulo matInput placeholder="Codigo Articulo"  >
        </mat-form-field>
        <mat-error *ngIf="error"></mat-error>
      </div>
      <div class="main-form-field__container">
        <mat-form-field>
        <mat-label>Nombre de Articulo</mat-label>
        <input formControlName="name_article"  maxlength="50" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              #nameArticulo matInput placeholder="Nombre Articulo"  >
        </mat-form-field>
        <mat-error *ngIf="error"></mat-error>
      </div>

      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label>Cantidad </mat-label>
            <input  formControlName="stock" type="number" min="1"  maxlength="9" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
             #cantidad matInput placeholder="Cantidad" >
          </mat-form-field>
      </div>


      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label>Cantidad minima de stock</mat-label>
            <input  formControlName="stock_min" type="number" min="1"  maxlength="9" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
             #cantidad matInput placeholder="Cantidad Minima" >
          </mat-form-field>
      </div>

      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label>Precio Unitario </mat-label>
            <input  formControlName="unit_price" type="number"  min="1" maxlength="9" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
             #cantidad matInput placeholder="Precio Unitario" >
          </mat-form-field>
      </div>

        <div class="main-form-field__container main-option__form-field__field__left">
          <mat-form-field>
            <mat-label>Unidad</mat-label>      
            <mat-select #unidad formControlName="unit_measure" 
             [compareWith]="compareCategoryObjects"
             >
              <mat-option *ngFor="let unidad of unidades" [value]="unidad" >
                {{unidad.unit_measure}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    
      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label >Categoria</mat-label>
          <mat-select #categoria formControlName="name"
          [compareWith]="compareCategoryObjects"
          >
            <mat-option  *ngFor="let category of  categories" [value]="category"  >
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
      <mat-error *ngIf="error">Este articulo ya existe, prueba otro nombre o codigo.</mat-error>
      <button *ngIf="data.name === 'Crear'" type="submit" [disabled]="!formArticle.valid"  mat-raised-button>Agregar</button>
      <button *ngIf="data.name === 'Modificar'" type="submit" [disabled]="!formArticle.valid"  mat-raised-button>Modificar</button>
    </form>

  </ng-template>

  <ng-template #Eliminar>
      <div class="container-delete" >
        <h4 class="container-delete">Estas seguro de Eliminar el Articulo de {{data.obj.name_article}}</h4>
        <mat-error *ngIf="error">El articulo esta en uso en una Entrada o Salida no es posible eliminarlo</mat-error>
        <button type="submit" (click)="deleteArticle(data.name)"  mat-raised-button>Aceptar</button>
      </div>
  </ng-template>



