<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>

<div *ngIf="dataState" >

  <table    mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="Nº">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button   routerLink="/entradas/detalle-nota/{{element.id}}">
          {{element.invoice_number}} 
        </button> 
      </td>
    </ng-container>
  
    <ng-container matColumnDef= "Fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha</th>
      <td mat-cell *matCellDef="let element"> {{element.created_at  | date  }} </td>
    </ng-container>
  
    <ng-container matColumnDef="Comprobante">
      <th mat-header-cell *matHeaderCellDef> Comprobante </th>
      <td mat-cell *matCellDef="let element"> {{element.invoice_number}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Origen">
      <th mat-header-cell *matHeaderCellDef> Origen </th>
      <td mat-cell *matCellDef="let element"> Almacen </td>
    </ng-container>
  
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Importe">
      <th mat-header-cell *matHeaderCellDef> Importe </th>
      <td mat-cell *matCellDef="let element"> {{element.total_price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Precio-Medio">
      <th mat-header-cell *matHeaderCellDef> Precio-Medio </th>
      <td mat-cell *matCellDef="let element"> {{element.unit_price}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsEntry"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsEntry;"></tr>
  </table>
  
</div>

