.spacer {
  flex: 1 auto;
}

mat-toolbar {
  background-color: var(--dark);
  color: white;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 16px;
}

.ation-btn {
  margin-left: 16px;
}

.user-name {
  padding-right: 16px;
  border-right: 1px solid var(--primary);
}

.content-notification {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-notification {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFB800;
  margin-right: 10px;
}

.title-notifiaction {
  color: #FF0000;
}

.content-info {
  display: flex;
  font-size: 12px;
  opacity: 0.5;
}

.custom {
  background: red;
}