<mat-toolbar class="mat-elevation-z6">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="clickMenu()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <span class="user-name">{{user.name}}</span>
  <button 
    *ngIf="user.role_id !== 3" 
    class="ation-btn" 
    mat-icon-button
    [matMenuTriggerFor]="menuNotification"
    >
    <mat-icon aria-label="label">notifications</mat-icon>
  </button>
  <mat-menu #menuNotification="matMenu">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="box-notification"></div>
        <div class="content-notification">
          <p class="title-notifiaction">00202020202</p>
          <div class="content-info">
            <span style="max-width: 100px;">8 materias primas/insumos </span>
            <span class="spacer"></span>
            <span>Pendiente</span>
          </div> 
        </div>
      </mat-list-item>
    </mat-list>
  </mat-menu>
  <button 
    *ngIf="user.role_id !== 3" 
    class="ation-btn" 
    mat-mini-fab 
    color="primary" 
    style="color: white;"
    >
    <mat-icon aria-label="label">shopping_cart</mat-icon>
  </button>

  <img class="user-profile" [src]="user.image || 'https://image.pngaaa.com/603/5170603-middle.png'" alt="">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon aria-label="icon logout">expand_more</mat-icon>
  </button>
  <mat-progress-spinner *ngIf="state" diameter="20" mode="indeterminate"></mat-progress-spinner>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logOut()">
      <mat-icon aria-label="icon logout">logout</mat-icon>
      Cerrar Sesión
    </button>
  </mat-menu>
</mat-toolbar>
