:host {
  flex-grow: 1;
  margin: 16px auto;
}

.main-container {
  background-color: #ffffff95;
  padding: 20px;
  box-shadow: -2px 5px 15px rgba(178, 178, 178, 0.25);
  border-radius: 10px;
  min-width: 300px;
  /* min-height: 330px; */
  height: 100%;
  /* text-align: center; */
}

