<article class="main-container">
  <h3>Productos mas vendidos</h3>
  <br>
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="presentation"
    [gradient]="gradient"
    >
  </ngx-charts-advanced-pie-chart>
</article>