<div class="main-table">

  <table mat-table [dataSource]="productionsData">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fechas de producción </th>
      <td mat-cell *matCellDef="let element">
        <strong class="date">
          {{element.date | date}}
        </strong>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.product_quantity}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>Presentacion</th>
      <td mat-cell *matCellDef="let element"> {{element.presentations_name}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="materials">
      <th mat-header-cell *matHeaderCellDef> Cantidad de materiales </th>
      <td mat-cell *matCellDef="let element"> {{element.materials_quantity}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
