<mat-toolbar class="mat-elevation-z2">
  <button mat-icon-button routerLink="/area" color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span style="margin-right: 16px;" *ngIf="($area | async) as area">
    <span>{{area.category.name}} </span>
  </span>
</mat-toolbar>

<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>

   
<div *ngIf="emptyState">
  <app-empty-state [emptyData]="emptyData" (btnNewEmitter)="addNewArticle($event)"></app-empty-state>
</div>


<div *ngIf="dataState" class="container">
  <div class="table-container">
    
    <div class="main-searchbar">
      <div class="main-form-field__container">
        <mat-form-field class="field">
          <mat-label>Encuentra tu articulo</mat-label>
          <input matInput (keyup)="applyFilter($event)" maxlength="50" class="input-search"
            placeholder="Encuentra tu articulo" #input>
          <mat-icon matSuffix class="material-icons-outlined" aria-hidden="false" aria-label="icon-search">search
          </mat-icon> 
        </mat-form-field>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha </th>
        <td mat-cell *matCellDef="let element">
          {{element.delivery_date}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Articulo">
        <th mat-header-cell *matHeaderCellDef> Articulo</th>
        <td mat-cell *matCellDef="let element">
          {{element.name_article}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad Entregada</th>
        <td mat-cell *matCellDef="let element">
          {{element.quantity}}
        </td>
      </ng-container>
      <ng-container matColumnDef="UnidadMedida">
        <th mat-header-cell *matHeaderCellDef> Unidad de Medida </th>
        <td mat-cell *matCellDef="let element">
          {{element.unit_measure}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="resetCategory()">todos</button>
            <div *ngFor="let categorie of categories">
              <button mat-menu-item (click)="filterCategory(categorie)">
                {{categorie.name}}
              </button>
            </div>
          </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.name}}
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
