<mat-toolbar class="mat-elevation-z6">
  <span class="title">Modificar datos de solicitud</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon color="primary" aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>

<form class="main-form" [formGroup]="dataArticleForm">
  <mat-error *ngIf="!dataArticleForm.controls.material_id.valid">
    Por favor selecciona una materia prima o insumo de la lista
  </mat-error>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Materia Prima/Insumo:</mat-label>
      <input 
        matInput 
        required 
        placeholder="Leche"
        formControlName="article_name"
        [matAutocomplete]="autos"
        >
      <mat-autocomplete 
        #autos="matAutocomplete"
        [displayWith]="displayFn"
      >
        <mat-option 
          *ngFor="let option of filteredOptions | async" 
          [value]="option"
          (click)="changeArticle(option)"
          >
          {{option.name_article}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.article_name">
    <ng-container
      *ngIf="article_name.hasError(errorMessage.type) && 
            (article_name.dirty || article_name.touched)"
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Cantidad solicitada:</mat-label>
      <input
        type="number"
        matInput
        formControlName="quantity"
        placeholder="20"
        required
      />
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.quantity">
    <ng-container
      *ngIf="quantity.hasError(errorMessage.type) && 
            (quantity.dirty || quantity.touched)"
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>

  <button
    mat-raised-button
    color="primary"
    style="color: #ffffff"
    [disabled]="!dataArticleForm.valid"
    (click)="saveData()"
  >
    Modificar
  </button>
</form>
