.spacer {
  flex: 1 1 auto;
}

.main-btn {
  background-color: var(--primary);
  border-radius: 36px;
  color: white;
}

mat-toolbar {
  background-color: white;
}

.title{
  display: flex;
  justify-content: center;
  height: 15%;
  align-items: center;
  padding-bottom: 20px;
}
.container{
  width: 100%;
  margin-top: 15px;
  padding: 0px 20px;
  overflow: auto;
}

table {
  width: 100%;
  overflow-x: auto !important;
}

.main-form-field {
  height: 44px;
  width: 150px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 12px;
  margin-right: 16px;
  position: relative;
}

.main-year__input 
{
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.main-year__input-text {
  width: 90px;
  border: none ;
  background-color: var(--bg);
  font-size: 1rem;
  opacity: 0.8;
}

.option
{
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 20%;
  top: 110px;
}

.option-view
{
  z-index: 1;
}


.option-notview
{
  opacity: 0;
  z-index: -1;
}

.opt{
  padding: 10px 10px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.8;
}

ul{
  background: white !important;
}
li{
  list-style: none;
  width: 100%;
}

li:hover{
  background-color:  #c0ec90;
}

li:active{
  background-color: var(--primary);
}


.spinner {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
