<mat-toolbar class="mat-elevation-z2">
  <span>Inventario Almacen Periferico</span>
  <span class="spacer"> </span>

  <div style="display: flex; flex-wrap: nowrap">
    <div class="main-form-field main-year__input">
      <button mat-button [matMenuTriggerFor]="menu" class="opt">
        {{ trimestre }}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="opt" (click)="changeTrimenstre('Primer Trimestre')">Primer Trimestre</button>
        <button mat-menu-item class="opt" (click)="changeTrimenstre('Segundo Trimestre')">Segundo Trimestre</button>
        <button mat-menu-item class="opt" (click)="changeTrimenstre('Tercer Trimestre')">Tercer Trimestre</button>
        <button mat-menu-item class="opt" (click)="changeTrimenstre('Cuarto Trimestre')">Cuarto Trimestre</button>
      </mat-menu>
    </div>

    <app-year (emitterYearEvent)="filterDate($event)"></app-year>
  </div>

  <button
    class="main-btn"
    type="button"
    mat-raised-button
    (click) = "downloadPDF()"
  >
    <mat-icon>local_printshop</mat-icon>
    Periférico
  </button>
</mat-toolbar>

<div class="container" id="peripal">
  <div class="title">
    <h3>DEL {{fecha}} AL {{year}}</h3>
  </div>
  <div *ngIf="dataSource" class="table-container">
    <table mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="Kardex" >
        <th mat-header-cell *matHeaderCellDef> Kardex </th>
        <td mat-cell *matCellDef="let element">  {{ element.cod_article }} </td>
        <td mat-footer-cell *matFooterCellDef > </td>

      </ng-container>
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element">  {{ element.currentStock }} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="Unidad">
        <th mat-header-cell *matHeaderCellDef> Unidad </th>
        <td mat-cell *matCellDef="let element">  {{element.unit_measure }} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="Detalle">
        <th mat-header-cell *matHeaderCellDef> Detalle </th>
        <td mat-cell *matCellDef="let element"> {{ element.name_article }} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="P/U Bs.">
        <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
        <td mat-cell *matCellDef="let element"> {{ element.output }} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="P/Total Bs.">
        <th mat-header-cell *matHeaderCellDef> Precio Total </th>
        <td mat-cell *matCellDef="let element"> {{ (element.output * element.incomesQuantity).toFixed(2) }} </td>
      </ng-container>
      <ng-container matColumnDef="Salidas">
        <th mat-header-cell *matHeaderCellDef> Salidas </th>
        <td mat-cell *matCellDef="let element"> {{ (element.outputQuantity) ? 0 : element.outputQuantity }} </td>
      </ng-container>
      <ng-container matColumnDef="Importe Bs.">
        <th mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{ (element.outputQuantity * element.output).toFixed(2) }} </td>
      </ng-container>
      <ng-container matColumnDef="Saldo">
        <th mat-header-cell *matHeaderCellDef> Saldo </th>
        <td mat-cell *matCellDef="let element"> {{ element.incomesQuantity - element.outputQuantity}} </td>
      </ng-container>
      <ng-container matColumnDef="Importe Bs">
        <th mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{ ((element.incomesQuantity - element.outputQuantity) * element.output ).toFixed(2) }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>


<div *ngIf="stateDownload" class="spinner">
  <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>