.spacer 
{
  width: 100%;
}

mat-toolbar{
    background-color: #3A4651;
    color: #ffff;
}

.field
{
    width: 100%;
}

.main-form {
 width: 100%;
 padding: 10px;
 height: 400px;
}

.btn-close
{
  padding: 0 14px;
}

.option-select{
  width: 47%;
}

.main-option{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-raised-button{
  border-radius: 20px !important;
  width: 100%;
  color: #FFFFFF;
  background-color: #85CE36;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  border: 1px solid white;
}

::ng-deep .mat-form-field-underline {
  position: static !important;
  margin-top: 10px;
}



.container-delete
{
  padding: 10px 10px;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-option {
    flex-wrap: nowrap;
  }

  .main-option__form-field__right {
    margin-right: 10px;
  }

  .main-option__form-field__left {
    margin-left: 10px;
  }
}