<mat-toolbar>
    <span>{{data.name}}</span>
    <span class="spacer"></span>
    <button mat-icon-button  (click)="onClose('close')">
      <mat-icon color="primary">clear</mat-icon>
    </button>
</mat-toolbar>
<ng-template [ngIf]="data.name === 'Crear' || data.name === 'Modificar'" [ngIfElse]="Eliminar">
  <div class="main-form-field__container">
    <mat-form-field class="field">
      <mat-label>Comprobante</mat-label>
      <input   maxlength="30" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          #nameCategoria matInput placeholder="Comprobante" >
    </mat-form-field>

  </div>

  <div class="main-form-field__container">
      <mat-form-field class="field">
        <mat-label>Precio Unitario</mat-label>
        <input   maxlength="30" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
            #nameCategoria matInput placeholder="Precio Unitario" >
      </mat-form-field>

    </div>
    <div class="main-form-field__container">
      <mat-form-field class="field">
        <mat-label>Cantidad</mat-label>
        <input   maxlength="30" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
            #nameCategoria matInput placeholder="Cantidad" >
      </mat-form-field>

    </div>
    <div class="container-delete" >
      <h4 class="container-delete">Estas seguro de Eliminar el Articulo de </h4>
      <button type="submit"  (click)="onClose('close')" mat-raised-button>Aceptar</button>
    </div>
</ng-template>

<ng-template #Eliminar>
  <div class="container-delete" >
    <h4 class="container-delete">Estas seguro de Eliminar el Articulo de </h4>
    <button type="submit"  (click)="onClose('close')" mat-raised-button>Aceptar</button>
  </div>
</ng-template>
