<mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button routerLink="/producer/warehouse">
    <mat-icon color="primary" aria-label="label">arrow_back</mat-icon>
  </button>
  <span>Detalle de Materia Prima/Insumo</span>
  <span class="spacer"></span>
  <app-year (emitterYearEvent)="filterDate($event)"></app-year>
  <button mat-icon-button (click)="addToCart(material)">
    <mat-icon
      class="material-icons-outlined"
      color="accent"
      aria-label="add to card"
      >add_shopping_cart</mat-icon
    >
  </button>
  <button mat-icon-button (click)="openCalendar()">
    <mat-icon
      class="material-icons-outlined"
      color="primary"
      aria-label="add to card"
      >calendar_today</mat-icon
    >
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon aria-label="label">more_vertical</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editArticle()">
      <mat-icon color="primary">mode_edit</mat-icon>
      <span>Modificar</span>
    </button>
    <button mat-menu-item (click)="deleteArticle()">
      <mat-icon color="warn">delete</mat-icon>
      <span>Eliminar</span>
    </button>
  </mat-menu>
  
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>

<div class="container" *ngIf="canRender">
  <section class="main-banner__container">
    <mat-list class="main-list" role="list">
      <mat-list-item role="listitem">
        <div class="info-content">
          <span>Mt. Prima/Insumo:</span>
          <div class="color-information"
          [ngStyle]="{'background-color': color}"></div>
          <span class="info-content__title">{{ material.name_article }}</span>
          <mat-icon 
            aria-hidden="false" 
            color="warn" 
            aria-label="notificaciones"
            *ngIf="material.stock_start < material.stock_min"
            >notifications_active</mat-icon
          >
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="info-content">
          <span>Codigo:</span>
          <!-- <div class="color-information"></div> -->
          <span class="info-content__title">{{ material.code }}</span>
          <!-- <mat-icon aria-hidden="false" color="warn" aria-label="notificaciones">notifications_active</mat-icon> -->
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="info-content">
          <span>Cantidad total en almacenes:</span>
          <!-- <div class="color-information"></div> -->
          <span class="info-content__title total-content">{{
            material.stock_start
          }}</span>
          <!-- <mat-icon aria-hidden="false" color="warn" aria-label="notificaciones">notifications_active</mat-icon> -->
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="info-content">
          <span>Cantidad minima de stock:</span>
          <!-- <div class="color-information"></div> -->
          <span class="info-content__title">{{ material.stock_min }}</span>
          <!-- <mat-icon aria-hidden="false" color="warn" aria-label="notificaciones">notifications_active</mat-icon> -->
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <button color="primary" mat-button>
          <mat-icon
            class="material-icons-outlined"
            aria-hidden="false"
            aria-label="{2:label} icon"
            >cloud_download</mat-icon
          >
          Descargar Kardek en pdf
        </button>
      </mat-list-item>
    </mat-list>

    <section class="main-container__chart">
      <h1 class="main-container__chart-title">
        Grafico historico de Ingreso de Materia Prima
      </h1>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [noBarWhenZero]="false"
        [rotateXAxisTicks]="false"
        [barPadding]="26"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
      >
      </ngx-charts-bar-vertical>
    </section>
  </section>

  <section class="main-info__date">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="header-tab">
            <mat-icon class="example-tab-icon">login</mat-icon>
            <span>
              Ingreso de Mt. Prima/Insumo: 
            </span>
          </div>
        </ng-template>
        <mat-toolbar class="toolbar-tab">
          <span>Ingreso de materia prima/insumo </span>
        </mat-toolbar>
        <app-article-income [dataSource]="articleIncomes"></app-article-income>
      </mat-tab>
      
      <mat-tab>
        <ng-template class="header-tab" mat-tab-label>
          <div class="header-tab">
            <mat-icon class="example-tab-icon">input</mat-icon>
            <span>
              Salida de Mt. Prima/Insumo: 
            </span>
          </div>
        </ng-template>
        <mat-toolbar class="toolbar-tab">
          <span>Salidas de materia prima/insumo</span>
        </mat-toolbar>
        <app-article-output [dataSource]="articleOutputs"></app-article-output>
      </mat-tab>
    </mat-tab-group>
    
  </section>
</div>
