.spacer {
  flex: 1 auto; 
}

mat-toolbar {
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding: 20px;
}

.main-banner__container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.main-list {
  min-width: 390px;
  background-color: white;
  margin-right: 26px;
  flex-grow: 1;
}

.main-container__chart {
  flex-grow: 1;
  height: 325px;
  overflow-y: auto;
  background-color: var(--dark);
  border-radius: 8px;
}

.main-container__chart-title {
  top: 20px;
  left: 20px;
  color: white;
  padding: 16px;
}

.info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.color-information {
  width: 20px;
  height: 20px;
  background-color: #67B2A5;
  border-radius: 4px;
}

.info-content__title {
  color: rgba(0, 0, 0, 0.50);
}

.total-content {
  color: var(--primary);
}

.main-info__date {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 20px;
}

.header-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toolbar-tab {
  background-color: white;
  color: var(--dark);
}