<mat-toolbar>
  <span>Modificar nota de recepción</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon color="primary">clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="dataGeneralForm">

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Nro de comprobante:</mat-label>
      <input type="number" formControlName="receipt" matInput placeholder="985623" required>
    </mat-form-field>
  </div>
  <div class="main-error" *ngFor="let errorMessage of errorsMessages.receipt">
    <ng-container *ngIf="receipt.hasError(errorMessage.type) && (receipt.dirty || receipt.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Fecha de ingreso: *</mat-label>
      <input matInput [matDatepicker]="picker" required formControlName="input_date" (dateChange)="addEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Nombre del proveedor:</mat-label>
      <input type="text" formControlName="provider" matInput placeholder="Gabriela Martinez Cardenas">
    </mat-form-field>
  </div>
  <div class="main-error" *ngFor="let errorMessage of errorsMessages.provider">
    <ng-container *ngIf="provider.hasError(errorMessage.type) && (provider.dirty || provider.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>
  <button mat-raised-button [disabled]="!dataGeneralForm.valid" (click)="saveGeneralData()">Modificar</button>
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
</form>
