<mat-card
  [ngStyle]="{'border-bottom-color': rawMaterial.color || '#8CFC9D'}">
  <mat-card-header [routerLink]="['article-detail/' + rawMaterial.id]">
    <mat-card-title>{{rawMaterial.name_article}}</mat-card-title>
    <span class="spacer"></span>
    <span class="code-article">{{rawMaterial.code}}</span>
    <mat-icon class="material-icons-outlined notify-icon" *ngIf="rawMaterial.stock_start < rawMaterial.stock_min" aria-label="notificación">notifications_active</mat-icon>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <p style="margin-left: 20px;">
      <strong>Total:</strong>
      <span class="total-article">
        {{rawMaterial.stock_start}} {{rawMaterial.unit_measure}}
      </span>
    </p>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="label">more_vertical</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editArticle()">
        <mat-icon color="primary">mode_edit</mat-icon>
        <span>Modificar</span>
      </button>
      <button mat-menu-item (click)="deleteArticle()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-menu>

    <button mat-icon-button (click)="addToCart(rawMaterial)">
      <mat-icon aria-label="añadir al carrito" color="accent">add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>