mat-card {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 5px solid;
  border-bottom-color: #85CE36;
  max-height: 230px;
}

mat-card-header, mat-card-actions {
  display: flex;
}

.spacer {
  flex: 1 auto;
}

.code-article {
  color: var(--primary);
}

.notify-icon {
  background-color: #DD1A1A;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.total-article {
  display: flex;
  align-items: center;
  color: #85CE36;
}

mat-card:hover {
  box-shadow: 4px 30px 60px rgba(178, 178, 178, 0.25)
}

mat-card-header:hover {
  cursor: pointer;
}