.full-width-table {
    width: 100%;
    margin-top: 15px;
    overflow-x: auto !important;
  }
  
  
  table {
    width: 100%;
    margin-top: 15px;
    overflow-x: auto !important;
  }
  
  .origin{
    padding: 5px 5px;
    border-radius: 15px;
    background-color: rgb(132, 189, 236);
    color: white;
  }

  .destini{
    padding: 5px 5px;
    border-radius: 15px;
    background-color: rgb(236, 132, 146);
    color: white;
  }

  .spinner {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }