
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 

    <ng-container matColumnDef="Nº">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef= "Fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha</th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> 
        
        <span  class="origin"   *ngIf="element.origin ===  'Almacen'" >
          Ingreso
        </span>

        <span class="destini" *ngIf="element.origin !==  'Almacen'" >
            Salida
        </span>
      
      </td>
    </ng-container>

    <ng-container matColumnDef="Comprobante">
      <th mat-header-cell *matHeaderCellDef> Comprobante </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Origen/Destino">
      <th mat-header-cell *matHeaderCellDef> Origen/Destino </th>
      <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Importe">
      <th mat-header-cell *matHeaderCellDef> Importe </th>
      <td mat-cell *matCellDef="let element"> {{element.import}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Precio-Medio">
      <th mat-header-cell *matHeaderCellDef> Precio-Medio </th>
      <td mat-cell *matCellDef="let element">{{element.halfPrice}}  </td>
    </ng-container>
  
   
  <tr mat-header-row *matHeaderRowDef="columnsEntry"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsEntry;"></tr>
  </table>
  