<section class="main-container">
  <div class="main-form__container">
    <mat-toolbar>
      <span><strong class="main-form__title">Los datos con * son importantes</strong></span>
    </mat-toolbar>
    <form [formGroup]="dataGeneralForm">
    <div class="main-form-field__container">
      <mat-form-field>
      <mat-label>Nro de comprobante:</mat-label>
      <input 
        type="text" 
        formControlName="receipt" 
        matInput 
        placeholder="985623"
        maxlength="9"
        required>
      </mat-form-field>
    </div>
    <div class="main-error" *ngFor="let errorMessage of errorsMessages.receipt">
      <ng-container *ngIf="receipt.hasError(errorMessage.type) && (receipt.dirty || receipt.touched)">
        <mat-error>{{errorMessage.message}}</mat-error>
      </ng-container>
    </div>

    <div class="main-form-field__container">
      <mat-form-field>
      <mat-label>Nro de solicitud:</mat-label>
      <input 
        type="text" 
        formControlName="order_number" 
        matInput 
        placeholder="985623"
        maxlength="9"
        required>
      </mat-form-field>
    </div>
    <div class="main-error" *ngFor="let errorMessage of errorsMessages.order_number">
      <ng-container *ngIf="order_number.hasError(errorMessage.type) && (order_number.dirty || order_number.touched)">
        <mat-error>{{errorMessage.message}}</mat-error>
      </ng-container>
    </div>

    <div class="main-form-field__container">
      <mat-form-field>
      <mat-label>Nro de factura:</mat-label>
      <input 
        type="text" 
        formControlName="invoice_number" 
        matInput 
        placeholder="985623"
        maxlength="9"
        required>
      </mat-form-field>
    </div>
    <div class="main-error" *ngFor="let errorMessage of errorsMessages.invoice_number">
      <ng-container *ngIf="invoice_number.hasError(errorMessage.type) && (invoice_number.dirty || invoice_number.touched)">
        <mat-error>{{errorMessage.message}}</mat-error>
      </ng-container>
    </div>

    <div class="main-form-field__container">
      <mat-form-field>
        <mat-label>Fecha de ingreso: *</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          required
          formControlName="input_date"
          (dateChange)="addEvent($event)"
          >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="main-form-field__container">
      <mat-form-field>
      <mat-label>Nombre del proveedor:</mat-label>
      <input
        type="text"
        formControlName="provider"
        matInput
        placeholder="Gabriela Martinez Cardenas"
        >
      </mat-form-field>
    </div>
    <div class="main-error" *ngFor="let errorMessage of errorsMessages.provider">
      <ng-container *ngIf="provider.hasError(errorMessage.type) && (provider.dirty || provider.touched)">
        <mat-error>{{errorMessage.message}}</mat-error>
      </ng-container>
    </div>

    </form>
    <mat-toolbar>
    <span class="spacer"></span>
    <button
      mat-raised-button
      class="action-btn__next"
      [disabled]="!dataGeneralForm.valid"
      (click)="saveGeneralData()"
      matStepperNext
      >
      Siguiente
    </button>
    </mat-toolbar>
  </div>
  <figure>
    <img src="assets/images/data-img/data-in.png" alt="imagen de datos entrantes">
  </figure>
</section>
