.nav-image {
  background-image: url('https://scontent.flpb1-2.fna.fbcdn.net/v/t1.6435-9/160451706_1719266474905243_8532704572452977598_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=DkS5QK0hIcAAX-tbc4_&tn=ke0bln7185y5F62b&_nc_ht=scontent.flpb1-2.fna&oh=119371f6d301c85f9f108e1f173f333f&oe=60D67784');
  background-size: cover;
  height: 45px;
  width: 45px;
  border-radius: 60px;
}


.sidenav-container {
  height: 100%;
  color: #ffffff !important;
  background-color: var(--bg);
}

.sidenav {
  width: 200px;
  background-color: #3A4651;

}

.sidenav .mat-toolbar {
  background: #3A4651;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{
  color: #ffffff !important;
}
.container-mat{
  background-color: #3A4651 !important;
  display: flex;
  justify-content: space-between;
}


.mat-list-item{
  color: #ffffff !important;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 40px;
}



.mat-nav-list{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-subheader {
  
  color: #ffffff !important;
}

mat-divider{
  background-color: #ffffff !important;
}

mat-list-option:hover, mat-list-option:active, mat-list-option:visited {
  background-color: #c0ec90!important;
  border-top-right-radius:40px;
  border-bottom-right-radius : 40px;
  color: white !important;
}


mat-list-option[aria-selected="true"] {
  background-color: #85CE36!important;
  border-top-right-radius: 20px;
  border-bottom-right-radius : 20px;
  color: white !important;
}

.container{
  width: 100%;
  height: 100%;
  background-color: #F0F3F6;;
}

.active {
  background-color: #85CE36!important;
  border-top-right-radius: 20px;
  border-bottom-right-radius : 20px;
  color: white !important;
}

figure {
  width: 100%;
  text-align: center;
}

.mat-expansion-panel-header {
  padding: 0px 16px;
}

.mat-expansion-panel {
  background: var(--dark) !important;
}

.mat-expansion-panel-header-title {
  color: #ffffff;
}

::ng-deep .mat-expansion-indicator::after{
  color: #ffffff;
}

.mat-icon {
  margin-right: 10px;
}

.mat-expansion-panel a {
  font-size: 0.875rem;
  opacity: 0.7;
}

.mat-expansion-panel a:hover {
  border-left: 3px solid rgba(133, 206, 54, 0.35);
}

.expansion-active {
  border-left: 3px solid var(--primary);
  opacity: 1 !important;
}