<mat-nav-list *AppRole="rol">
  <mat-selection-list #menu [multiple]="false">
    <div mat-subheader>Panel de Navegacion</div>
    <mat-list-option #article value="Articulos" routerLink="articulo" routerLinkActive="active"
      (click)="cahngeTitle(article.value)">
      <mat-icon class="material-icons-outline" mat-list-icon>toc</mat-icon>
      <a mat-line>
        Articulos</a>
    </mat-list-option>

    <mat-list-option #area value="Areas" routerLink="area" routerLinkActive="active" (click)="cahngeTitle(area.value)">
      <mat-icon class="material-icons-outline" mat-list-icon>dashboard </mat-icon>
      <a mat-line>
        Áreas</a>
    </mat-list-option>

    <mat-list-option #input value="Notas de entrega" routerLink="salidas" routerLinkActive="active"
      (click)="cahngeTitle(input.value)">
      <mat-icon class="material-icons-outline" mat-list-icon>shopping_cart</mat-icon>
      <a mat-line>
        Notas de entrega</a>
    </mat-list-option>

    <mat-list-option #ouput value="Notas de recepción" routerLink="entradas" routerLinkActive="active"
      (click)="cahngeTitle(ouput.value)">
      <mat-icon class="material-icons-outline" mat-list-icon>input</mat-icon>
      <a mat-line>
        Notas de recepción</a>
    </mat-list-option>


    <div *ngIf="false" mat-subheader>Configuracion</div>
    <mat-list-option *ngIf="false" #perfil value="Perfil" routerLink="perfil" routerLinkActive="active"
      (click)="cahngeTitle(perfil.value)">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <a mat-line>
        Perfil</a>
    </mat-list-option>

    <mat-list-option #infor value="Informes" routerLink="informe" routerLinkActive="active"
      (click)="cahngeTitle(infor.value)">
      <mat-icon class="material-icons-outline" mat-list-icon>text_snippet</mat-icon>
      <a mat-line>
        Informes Perifericos</a>
    </mat-list-option>

    <mat-list-option #noty value="Notificaciones" (click)="cahngeTitle(noty.value)" routerLink="notificaciones"
      routerLinkActive="active">
      <mat-icon class="material-icons-outline" mat-list-icon>notifications</mat-icon>
      <a mat-line>
        Notificaciones</a>
    </mat-list-option>


  </mat-selection-list>

  <figure>
    <img src="assets/images/logo-side.png">
  </figure>
</mat-nav-list>


<mat-nav-list *AppRoleP="rol">
  <div>
    <div mat-subheader>Panel de Navegacion</div>
    <a
      mat-list-item
      routerLink="home" routerLinkActive="active"
      (click)="cahngeTitle('Inicio')"
      >
      <mat-icon class="material-icons-outline" aria-hidden="false" aria-label="icon-home">home</mat-icon>
      Inicio
    </a>
    <mat-expansion-panel
      #panel 
      (mouseenter)="panel.open()"
      >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="material-icons-outline" aria-hidden="false" aria-label="icon-producer">inventory_2</mat-icon>
          Producción
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a 
        mat-list-item
        routerLink="product" routerLinkActive="expansion-active"
        (click)="cahngeTitle('Productos')"
        >
        Productos
      </a>
      <a 
        mat-list-item
        routerLink="production-detail" routerLinkActive="expansion-active"
        (click)="cahngeTitle('Detalle de Producción')"
        >
        Detalle de Producción
      </a>
      <a 
        mat-list-item
        routerLink="production-summary" routerLinkActive="expansion-active"
        (click)="cahngeTitle('Resumen de Producción')"
        >
        Resumen de Producción
      </a>
      <a 
        mat-list-item
        routerLink="sales-detail" routerLinkActive="expansion-active"
        (click)="cahngeTitle('Detalle de Ventas')"
        >
        Detalle de Ventas
      </a>
      <a
        mat-list-item
        routerLink="sales-summary" routerLinkActive="expansion-active"
        (click)="cahngeTitle('Resumen de Ventas')"
        >
        Resumen de Ventas
      </a>
      <a 
        mat-list-item
        routerLink="consolidation" routerLinkActive="expansion-active"
        (click)="cahngeTitle('Consolidación')"
        >
        Consolidación
      </a>
    </mat-expansion-panel>
    <a 
      mat-list-item
      routerLink="warehouse" routerLinkActive="active"
      (click)="cahngeTitle('Almacenes')"
      >
      <mat-icon class="material-icons-outline" aria-hidden="false" aria-label="icon-almacenes">category</mat-icon>
      Almacenes
    </a>
  </div>
  <figure>
    <img src="assets/images/logo-side.png">
  </figure>
</mat-nav-list>
