<article class="main-container">
  <h3>Resumen Estadístico</h3>
  <div class="container-list">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false" 
          aria-label="icono de productos"
          >
          inventory_2
        </mat-icon>
        <div class="text-content">
          <p>8</p>
          <p class="text-info">
            Productos
          </p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false" 
          aria-label="icono de productos"
          >
          inventory
        </mat-icon>
        <div class="text-content">
          <p>6</p>
          <p class="text-info">
            Materias primas
          </p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false" 
          aria-label="icono de productos"
          >
          category
        </mat-icon>
        <div class="text-content">
          <p>15</p>
          <p class="text-info">
            Insumos
          </p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false" 
          aria-label="icono de productos"
          >
          storefront
        </mat-icon>
        <div class="text-content">
          <p>63</p>
          <p class="text-info">
            Uni. Prod. a la venta
          </p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false" 
          aria-label="icono de productos"
          >
          sell
        </mat-icon>
        <div class="text-content">
          <p>Bs. 1205.50</p>
          <p class="text-info">
            Total ventas
          </p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false" 
          aria-label="icono de productos"
          >
          attach_money
        </mat-icon>
        <div class="text-content">
          <p>Bs. 15269.02</p>
          <p class="text-info">
            Total Costos
          </p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</article>