:host {
  flex-grow: 1;
  margin: 16px auto;
}

.main-container {
  background-color: #ffffff95;
  padding: 20px;
  box-shadow: -2px 5px 15px rgba(178, 178, 178, 0.25);
  border-radius: 10px;
  min-width: 450px;
  height: 100%;
}

.container-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-content {
  margin-left: 16px;
}

.mat-icon {
  width: 35px;
  height: 35px;
  font-size: 33px;
  opacity: 0.5;
}

p {
  font-size: 18px;
}

.text-info {
  font-size: 14px;
  opacity: 0.5;
}

.mat-list-item {
  height: 80px !important;
}

.mat-divider {
  border-top-color: var(--primary);
}

.mat-list {
  flex-grow: 1;
  /* padding: 8px; */
}