.mat-toolbar {
  background-color: white;
  min-height: 64px;
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.spacer {
  flex: 1 auto;
}

.main-form {
  display: flex;
  align-items: center;
}

.action-btn__add {
  background-color: var(--primary);
  border-radius: 32px;
  color: white;
}

.action-btn__search {
  margin-left: 16px;
  width: 100px;
  max-height: 44px;
}

.action-btn__add-mobile {
  background-color: var(--primary);
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.main {
  padding: 16px;
}

.main-card-notes {
  height: 50vh;
  overflow-y: auto;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-card__info {
  width: 100%;
  max-width: 350px;
}

.main-form-field__search {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.main-input {
  flex-grow: 1;
}

.main-form-field__search input {
  width: 100%;
  border: none;
  height: 100%;
}




@media only screen and (min-width: 1366px) {

  .mat-toolbar {
    padding: 0px 16px;
  }

  .main-card-notes {
    height: 60vh;
  }
  .main-form {
    width: 50%;
    margin: auto;
  }
  .main-card-notes::-webkit-scrollbar {
    width: 8px;
    height: 8px;

  }

  .main-card-notes::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  .main-card-notes::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  .main-card-notes::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  .main-card-notes::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  .main-card-notes::-webkit-scrollbar-track:hover,
  .main-card-notes::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
}
