<mat-toolbar>
    <span> {{data.name}} Categoría</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="onClose('Close')">
      <mat-icon color="primary">clear</mat-icon>
    </button>
</mat-toolbar>
<ng-template [ngIf]="data.name == 'Crear' || data.name == 'Modificar'" [ngIfElse]="Eliminar">
  <div>
      <form [formGroup]= "fromCategory" class="main-form" (ngSubmit)="onSubmit(data.name,nameCategoria.value)">
        <div class="main-form-field__container">
          <mat-form-field class="field">
            <mat-label>Nombre Categoria</mat-label>
            <input formControlName="name"  maxlength="30" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                #nameCategoria matInput placeholder="Categoría"   (input)="inputValidator($event)">
          </mat-form-field>
        </div>
      <mat-error 
        class="main-error__container" 
        style="text-align: center;" 
        color="warn"
        *ngIf="stateError">
        {{errorMessage}} 
      </mat-error>
      <button *ngIf="data.name === 'Crear'" type="submit" [disabled]="!fromCategory.valid"  mat-raised-button>Agregar</button>
      <button *ngIf="data.name === 'Modificar'" type="submit" [disabled]="!fromCategory.valid"  mat-raised-button>Modificar</button>
    </form>
  </div>
</ng-template>

<ng-template #Eliminar>
    <div class="container-delete" >
       <h4 class="container-delete">Estas seguro de Eliminar la Categoria de {{data.obj.name}}</h4>
       <mat-error 
       class="main-error__container" 
       style="text-align: center;" 
       color="warn"
       *ngIf="stateError">
       {{errorMessage}} 
      </mat-error>
      <button  type="submit" (click)="onSubmit(data.name,'')"  mat-raised-button>Aceptar</button>
    </div>
</ng-template>