<mat-toolbar>
  <span>Modificar articulo saliente</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon color="primary" aria-label="icono de cerrar">close</mat-icon>
  </button>
</mat-toolbar>

<form class="main-form_container" [formGroup]="dataArticleForm">
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  <mat-error 
    *ngIf="!dataArticleForm.controls.article_id.valid"
    >
      Por favor selecciona un articulo de la lista
  </mat-error>
  <div class="main-form-field__container">
    <mat-form-field *ngIf="options.length !== 0">
      <mat-label>Artículo</mat-label>
      <input 
        matInput 
        required 
        placeholder="Hojas bond"
        formControlName="article"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option 
          *ngFor="let option of filteredOptions | async" 
          [value]="option"
          (click)="getArticle(option)"
          >
          {{option.name_article}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <small *ngIf="article">Stock: {{article.stock}} {{article.unit_measure}} (s)</small>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Cantidad entregada:</mat-label>
      <input 
        type="number" 
        matInput 
        placeholder="65"
        formControlName="quantity"
        required>
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.quantity">
    <ng-container *ngIf="quantity.hasError(errorMessage.type) && (quantity.dirty || quantity.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Partida Presupuesto *:</mat-label>
      <input 
        type="number" 
        matInput 
        placeholder="2.25"
        formControlName="budget_output"
        required>
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.budget_output">
    <ng-container *ngIf="budget_output.hasError(errorMessage.type) && (budget_output.dirty || budget_output.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>

  <button 
    class="action-btn__add" 
    mat-raised-button 
    (click)="saveArticle()"
    [disabled]="!dataArticleForm.valid"
    >Agregar</button>
</form>