<mat-toolbar>
  <span><strong class="main-title">Unidades / Presentacion</strong></span>
  <span class="spacer"></span>
  <button  class="action-btn__add" (click)="openUAddEditComponentU('Crear',{},'i')"
  mat-raised-button > 
  <mat-icon aria-hidden="false" aria-label="icono de mas">add</mat-icon>
  Unidad/ Presentacion
  </button>
</mat-toolbar>
<br>


<div>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="Unidad/Presentacion">
      <th mat-header-cell *matHeaderCellDef>Unidad/Presentacion </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      <td mat-footer-cell *matFooterCellDef>

        <button class="action-btn__previous" mat-raised-button matStepperPrevious>
          Volver
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="CostoUnitario">
      <th mat-header-cell *matHeaderCellDef> Costo Unitatio de Produccion Bs </th>
      <td mat-cell *matCellDef="let element"> {{element.unit_cost_production}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>


    <ng-container matColumnDef="PrecioUnitario">
      <th mat-header-cell *matHeaderCellDef>Precio Unitario de Venta Bs </th>
      <td mat-cell *matCellDef="let element"> {{element.unit_price_sale}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>


    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef>Edit </th>
      <td mat-cell *matCellDef="let element,index as i">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openUAddEditComponentU('Modificar', element ,i )">
            <mat-icon color="primary">mode_edit</mat-icon>
            <span>Modificar</span>
          </button>
          <button mat-menu-item (click)="deleteUnit( element , i)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>


      </td>
      <td mat-footer-cell *matFooterCellDef>

       <button  class="action-btn__add" 
       mat-raised-button matStepperNext
       (click)="onSubmmit()"
       [disabled]="!(data.length !== 0)"
       > 
        Guardar
       </button>
      
      </td>
    </ng-container>


    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

  </table>




</div>