mat-toolbar {
  background-color: white;
  overflow-x: auto;
}

.spacer {
  flex: 1 auto;
}

.btn {
  margin: 16px;
  border-radius: 30px;
}

.container {
  width: 100%;
  overflow-y: auto;
}

.main-container {
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  max-height: 80vh;
  display: block;
}

.main-container__charts {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow-x: auto;
}

.line-chart, .pie-chart {
  background-color: var(--dark);
  border-radius: 8px;
  min-height: 300px;
  padding: 8px;
  margin-top: 16px;
  flex-grow: 1;
  overflow-x: auto;
}

.main-container__chart-title {
  top: 20px;
  left: 20px;
  color: white;
  padding: 10px;
  font-size: 0.875rem; /* 14px */
}

.main-container__articles {
  width: 100%;
  margin-top: 20px;
}


.articles-raw__material, .articles-supplies  {
  width: 100%;
}

.main-article__list {
  width: 100%;
  max-height: 450px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px 0px;
}


.article {
  width: 100%;
}

.main-supplies {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}

.main-form {
  display: flex;
  align-items: center;
}

.action-btn__add {
  background-color: var(--primary);
  border-radius: 32px;
  color: white;
}

.action-btn__search {
  margin-left: 16px;
  width: 100px;
  max-height: 44px;
} 

.main-form-field__search {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.main-input {
  flex-grow: 1;
}

.main-form-field__search input {
  width: 100%;
  border: none;
  height: 100%;
}

.mat-sidenav-container {
  width: 100%;
  background-color: var(--bg);
}

.mat-sidenav {
  background-color: var(--bg);
  width: 500px;
}

.shopping-btn {
  margin-right: 16px;
}
@media only screen and (min-width: 768px){
  .main-article__list {
    justify-content: space-between;
  }
  
  .article {
    width: 350px;
  }
}

@media only screen and (min-width: 1440px){
  .line-chart {
    width: 59%;
    margin-right: 16px;
    overflow-x: hidden;
  }

  mat-toolbar {
    overflow: hidden;
  }
 
  .pie-chart {
    width: 39%;
    overflow-x: hidden;
  }
  
  .main-container__articles {
    display: flex;
  }

  .articles-raw__material, .articles-supplies  {
    width: 50%;
  }

  .article {
    width: 250px;
  }

}