<mat-toolbar class="mat-elevation-z6">
  <span>Lista de materias primas e insumos</span>
  <span class="spacer"></span>
  <app-year></app-year>
  <button
    class="shopping-btn"
    color="primary"
    mat-mini-fab
    routerLink="shopping-cart"
  >
    <mat-icon
      class="material-icons-outlined"
      style="color: white"
      [matBadge]="total$ | async"
      matBadgeColor="accent"
      aria-label="label"
      >shopping_cart</mat-icon
    >
  </button>
  <button color="primary" mat-mini-fab (click)="sidenav.toggle()">
    <mat-icon class="material-icons-outlined" style="color: white"
      >shopping_bag</mat-icon
    >
  </button>

  <button
    (click)="addArticle()"
    class="btn"
    mat-raised-button
    color="primary"
    style="color: white"
  >
    <mat-icon aria-hidden="false" aria-label="icono de añadir">add</mat-icon>
    Mt. Prima/Ins.
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<main class="container">
  <div class="main-container">
    <section class="main-container__charts">
      <div class="line-chart">
        <h1 class="main-container__chart-title">
          Historico de Ingreso de Materia Primas
        </h1>
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [legendTitle]="legendTitle"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="multi"
        >
        </ngx-charts-line-chart>
      </div>
      <br />
      <div class="pie-chart">
        <ngx-charts-pie-chart
          [view]="viewPie"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          [legend]="false"
          [legendTitle]="legendTitlePie"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
        >
        </ngx-charts-pie-chart>
      </div>
    </section>
    <mat-sidenav-container [hasBackdrop]="false">
      <mat-sidenav
        #sidenav
        class="mat-elevation-z4"
        position="end"
        mode="push"
        opened="false"
        fixedInViewport
      >
        <app-presentation
          (eventEmmitPresentation)="sidenav.toggle()"
          [presentationList]="presentationList"
          (emitEventUpdatePresentationList)="fetchPresentations()"
        ></app-presentation>
      </mat-sidenav>
      <div class="main-container__articles" *ngIf="canRender">
        <section class="articles-raw__material">
          <mat-toolbar>
            <span>Materias primas</span>
          </mat-toolbar>
          <div class="main-article__list">
            <div class="article" *ngFor="let rawMaterial of materialList">
              <app-article [rawMaterial]="rawMaterial" (emitMaterialEventUpdate)="fetchMaterials()"></app-article>
            </div>
          </div>
        </section>
        <section class="articles-supplies">
          <mat-toolbar>
            <span>Insumos</span>
          </mat-toolbar>
          <div class="main-article__list main-supplies">
            <form class="main-form" [formGroup]="searchControl">
              <div class="main-form-field__search">
                <div class="main-input">
                  <input
                    type="text"
                    maxlength="50"
                    matInput
                    (keyup)="searchArticle($event)"
                    placeholder="Encuentra tu insumo"
                    formControlName="search"
                  />
                  <div
                    class="main-error"
                    *ngFor="let errorMessage of errorsMessages.search"
                  >
                    <ng-container
                      *ngIf="
                        search.hasError(errorMessage.type) &&
                        (search.dirty || search.touched)
                      "
                    >
                      <mat-error>{{ errorMessage.message }}</mat-error>
                    </ng-container>
                  </div>
                </div>
                <mat-icon aria-hidden="false" aria-label="search icon"
                  >search</mat-icon
                >
              </div>
            </form>
            <app-supplies [dataSource]="DataSource" (emitMaterialEventUpdate)="fetchMaterials()"></app-supplies>
          </div>
        </section>
      </div>
    </mat-sidenav-container>
  </div>
</main>
