mat-toolbar {
  background-color: #ffffff;
}

.container {
  padding: 20px;
}

.title-container {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title-container table {
  width: 500px;
  height: 200px;
  background-color: #ffffff;
}

h1 {
  text-transform: uppercase;
}

h2 {
  color: #F85D5D;
}

.area-title {
  color: var(--primary);
}

.main-table {
  margin-top: 20px;
  width: 100%
}

.spacer {
  flex: 1 auto;
}

.main-firms button {
  border-radius: 30px;
  border: 1px solid var(--primary);
}

.main-table__info-firms {
  margin-top: 20px;
  width: 100%;
  min-height: 150px;
  background-color: #ffffff;
}

.table-content .celda {
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.table-content .celda {
  text-align: center;
}

.input-focus {
  margin: auto;
  padding: 10px;
}

.input-active {
  max-width: 100px;
  border-radius: 8px;
  background-color: var(--bg);
}

.input-focus:hover {
  cursor: pointer;
  box-shadow: 0px 4px 9px rgba(178, 178, 178);
  transition: 0.3s;
}

.order-number {
  max-width: 100px
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  border: 1px solid white;
}

::ng-deep .mat-form-field-underline {
  position: static !important;
  margin-top: 10px;
}

.main-area {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.main-area span {
  min-width: 150px;
}


.empty-message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.empty-message img {
  width: 50%;
}

.empty-message__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.box {
  height: 100px;
}

.title-celda {
  margin-top: 50px;
}

.spinner {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}