<mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button routerLink="/producer/warehouse">
    <mat-icon color="primary" aria-label="label">arrow_back</mat-icon>
  </button>
  <span>Lista de materias primas/insumos</span>
  <span class="spacer"></span>
  <button mat-button color="primary" (click)="downloadPDF()">
    Descargar solicitud en pdf
    <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="{2:label} icon">cloud_download</mat-icon>
  </button>
</mat-toolbar>

<div id="htmlNote" class="container">
  <form class="title-container" [formGroup]="orderForm">
    <h1>pedido de materiales</h1>
    <div style="display: flex;">
      <h2 class="input-focus" role="button" (click)="isReceipt = true">Nro</h2>
      <h2 
        class="input-focus" 
        *ngIf="!isReceipt" 
        role="button" 
        (click)="isReceipt = true"
        >
        {{orderForm.controls.receipt.value || '000000'}}
      </h2>
      <mat-form-field *ngIf="isReceipt">
        <input 
          type="number"
          matInput
          placeholder="Nro de Comprobante"
          formControlName="receipt"
          (focusout)="isReceipt = false" 
          appAutofocus
        >
      </mat-form-field>
    </div>
    <table class="table-content">
      <tr>
        <th class="celda title-celda" colspan="8">Emisión</th>
      </tr>
      <tr class="celda">
        <th class="celda" colspan="2">Nro</th>
        <th class="celda" colspan="2">Dia</th>
        <th class="celda" colspan="2">Mes</th>
        <th class="celda" colspan="2">Año</th>
      </tr>
      <tr class="celda">
        <td class="celda" colspan="2">
          <span 
            class="input-focus" 
            *ngIf="!isOrder" 
            role="button" 
            (click)="isOrder = true"
            >
            {{orderForm.controls.order_number.value || '000000'}}
          </span>
          <input
            class="input-active"
            *ngIf="isOrder"
            type="number"
            matInput
            placeholder="Nro"
            formControlName="order_number"
            (focusout)="isOrder = false" 
            appAutofocus
          >
        </td>
        <td class="celda" colspan="2">
          <span>
            {{(orderForm.controls.date_issue.value) | date:'d'}}
          </span>
        </td>
        <td class="celda" colspan="2">
          <span>
            {{orderForm.controls.date_issue.value | date:'M'}}
          </span>
        </td>
        <td class="celda" colspan="2">
          <span>
            {{orderForm.controls.date_issue.value | date:'y'}}
          </span>
        </td>
      </tr>
    </table>
  </form>
  <br>
  <mat-divider></mat-divider>
  <br>

  <section>
    <div class="main-area">
      <span>
        Unidad Solicitante:
      </span>
      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label>Area</mat-label>
          <mat-select>
            <mat-option 
              *ngFor="let area of areas" 
              [value]="area.name"
              (click)="orderForm.controls.section_id.setValue(area.id)"
              >
              {{area.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <figure *ngIf="dataSource.length === 0" class="empty-message">
      <img src="assets/svg/no-data-cart.svg" alt="imagen de añadir al carrito">
      <span class="empty-message__title">aun no tienes articulos en tu carrito de compras</span>
    </figure>

    <table *ngIf="dataSource.length !== 0" mat-table [dataSource]="dataSource" class="main-table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Cantidad Solicitada </th>
        <td mat-cell *matCellDef="let element">
          <strong style="color: var(--primary);">
            {{element.quantity}}
          </strong>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Unidad </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.unit}} 
        </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Detalle </th>
        <td mat-cell *matCellDef="let element"> {{element.article_name}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element; index as i">
          <button style="float: right;" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon aria-label="label">more_vertical</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editArticleCart(element, i)">
              <mat-icon color="primary">mode_edit</mat-icon>
              <span>Modificar</span>
            </button>
            <button mat-menu-item (click)="deleteArticleCart(element)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
  </section>

  <section class="main-firms">
    <table class="main-table__info-firms table-content">
      <tr>
        <td class="celda box"></td>
        <td class="celda box"></td>
        <td class="celda box"></td>
      </tr>
      <tr class="celda">
        <th class="celda" class="2">Interesado</th>
        <th class="celda" class="2">Secretaria administrativa</th>
        <th class="celda" class="2">Decanato</th>
      </tr>
    </table>
  </section>
</div>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<mat-toolbar>
  <button color="primary" mat-button (click)="cancelOrder()">Cancelar</button>
  <span class="spacer"></span>
  <button color="primary" mat-raised-button [disabled]="!orderForm.valid" (click)="sendData()">
    <span style="color: #ffffff;">
      Enviar Solicitud
    </span>
      
    <mat-icon class="material-icons-outlined" aria-hidden="false" style="color: #ffffff;" aria-label="enviar">send</mat-icon>
  </button>
</mat-toolbar>

<div *ngIf="stateDownload" class="spinner">
  <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>