<section class="container">
  <h1 class="title">kardex: detalle de producción</h1>
  <div class="main-list__container">
    <mat-list class="main-list" role="list">
      <mat-list-item role="listitem">
        Periodo: {{ date | date: 'MMMM' | titlecase}} / {{ date | date: 'YYYY'}}
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Fecha Inicio:</span>
            <input matInput [matDatepicker]="picker" (dateChange)="dateChanged(1,$event)" [formControl]="startDate">
            <mat-datepicker
              #picker
              disabled="false"
              startView="multi-year"
              panelClass="example-month-picker">
              ></mat-datepicker>
          </div>
          <button mat-icon-button color="primary" (click)="picker.open()">
            <mat-icon class="material-icons-outlined" aria-label="label">calendar_today</mat-icon>
          </button>
        </div>

      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Fecha Fin:</span>
            <input matInput [matDatepicker]="secondPicker" (dateChange)="dateChanged(2,$event)" [formControl]="endDate">
            <mat-datepicker
              #secondPicker
              disabled="false"
              startView="multi-year"
              panelClass="example-month-picker">
              ></mat-datepicker>
          </div>
          <button mat-icon-button color="primary" (click)="secondPicker.open()">
            <mat-icon class="material-icons-outlined" aria-label="label">calendar_today</mat-icon>
          </button>
        </div>
      </mat-list-item>

    </mat-list>
    <mat-list class="main-list" role="list">
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Cuadro N°:  </span>
            <span class="form-data" *ngIf="!isBoxClicked"> {{boxForm.value}} </span>
            <input
              class="form-data"
              matInput
              appAutofocus
              *ngIf="isBoxClicked"
              [formControl]="boxForm"
              (focusout)="isBoxClicked = false"
             >
          </div>
          <button mat-icon-button color="primary" (click)="isClicked('box')">
            <mat-icon class="material-icons-outlined" aria-label="label">edit</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Código:  </span>
            <span class="form-data" *ngIf="!isCodeClicked"> {{codeForm.value}} </span>
            <input
              class="form-data"
              matInput
              appAutofocus
              *ngIf="isCodeClicked"
              [formControl]="codeForm"
              (focusout)="isCodeClicked = false"
             >
          </div>
          <button mat-icon-button color="primary" (click)="isClicked('code')">
            <mat-icon class="material-icons-outlined" aria-label="label">edit</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
      </mat-list-item>
    </mat-list>
  </div>
  <div class="main-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- nro Column -->
      <ng-container matColumnDef="nro">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position || 1}} </td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha Producción </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Fecha_produccion}} </td>
      </ng-container>

<!--      &lt;!&ndash; milk Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="milk">-->
<!--        <th mat-header-cell *matHeaderCellDef> Leche Procesada Lt </th>-->
<!--        <td mat-cell *matCellDef="let element"> 0 </td>-->
<!--      </ng-container>-->

      <!-- code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Codigo}} </td>
      </ng-container>


      <!-- production Column -->
      <ng-container matColumnDef="production">
        <th mat-header-cell *matHeaderCellDef> Producción Estandar Proyectada </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Produccion_estandar}} </td>
      </ng-container>

      <!-- unit Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unidad/Presentación </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Unidad_presentacion}} </td>
      </ng-container>

      <!-- cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Costo Unitario de Producción Bs. </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Costo_unitario}} </td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Cantidad}} </td>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Importe}} </td>
      </ng-container>

      <!-- second_quantity Column -->
      <ng-container matColumnDef="second_quantity">
        <th class="total-products__faulty-header" mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Cantidad_unidades_defectuosos}} </td>
      </ng-container>

      <!-- second_amount Column -->
      <ng-container matColumnDef="second_amount">
        <th class="total-products__faulty-header" mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Importe_unidades_defectuosos}} </td>
      </ng-container>

      <!-- third_quantity Column -->
      <ng-container matColumnDef="third_quantity">
        <th class="total-effectively__header" mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Cantidad_efectivamente_producido}} </td>
      </ng-container>

      <!-- third_amount Column -->
      <ng-container matColumnDef="third_amount">
        <th class="total-effectively__header" mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.presentation[0].Importe_efectivamente_producido}} </td>
      </ng-container>

      <ng-container matColumnDef="header-row-first-group">
        <th
          mat-header-cell
          *matHeaderCellDef
          [style.text-align]="'center'"
          [attr.colspan]="6">
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-second-group">
        <th
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="2">
          <div>
            Total Producción
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-third-group">
        <th
          class="total-products__faulty-header"
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="2">
          <div>
            Total Productos Defectuosos/Bajas
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-quarter-group">
        <th
          class="total-effectively__header"
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="2">
          <div>
            Total Efectivamente Producido
          </div>
        </th>
      </ng-container>

      <tr
        class="header-row"
        mat-header-row
        *matHeaderRowDef="
          [
            'header-row-first-group',
            'header-row-second-group',
            'header-row-third-group',
            'header-row-quarter-group',
          ]">
      </tr>
      <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; index as i"
        [ngStyle]="{'background-color': calculateBackground(i)}"
      ></tr>
    </table>
  </div>
</section>
