.main {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  overflow-y: auto;
  overflow-x: hidden;
}

.main-bg__container {
  width: 100%;
  min-height: 250px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/images/bg-login.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.main-content__header {
  width: 100%;
  color: white;
  text-align: center;
}
.title {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem; /*36px*/
  line-height: 45px;
  /* identical to box height */

  letter-spacing: 0.12em;
  margin-bottom: 16px;
  word-wrap: break-word;
}

.main-logo {
  width: 80px;
  margin: auto;
}
.main-logo img {
  width: 100%;
}

/* Class form section */
.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: Ubuntu, sans-serif;
}

.main-form__title {
  font-family: Quicksand, sans-serif;
  font-size: 1.125rem; /*18px */
}

.main-input {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  color: var(--dark);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
}

.main-error {
  text-align: start;
  color: var(--error);
}

small {
  line-height: 20px;
}

.main-max__lenght {
  text-align: start;
  color: var(--primary);
}

.main-fab__button {
  display: flex;
  width: 100%;
  padding: 10px;
}
.fab-btn{
  background-color: var(--primary);
}
.spacer {
  flex: 1 auto;
}

 .action-btn {
  border-radius: 20px;
  font-family: Quicksand, sans-serif;
  height: 44px;
} 

.action-btn:not([disabled]) {
  background-color: var(--primary);
  color: white;
}
.action-btn:disabled {
  background-color: var(--tertiary);
  color: var(--dark);
  border-radius: 20px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  border: 1px solid white;
}

::ng-deep .mat-form-field-underline {
  position: static !important;
  margin-top: 10px;
}







.main::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  /* display: none;  Ocultar scroll */
}

.main::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.main::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.main::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.main::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.main::-webkit-scrollbar-track:hover,
.main::-webkit-scrollbar-track:active {
background: #d4d4d4;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-form {
    max-width: 35%;
    margin: 0px auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {
  .main {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/images/bg-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .main-bg__container {
    min-height: inherit;
  }

  .main-form {
    width: 50%;
  }

  .main-bg__container {
    background: none;
  }

  .main-content__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-logo {
    order: 0;
  }

  .title {
    order: 1;
  }

  .subtitle {
    order: 2;
  }

  .main-logo__umss-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .main-fab__button {
    width: 20%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 0;
  }

  .main-error {
    margin-bottom: 10px;
  }
  
  small {
    font-size: 1rem; /*16px*/
  }
  
  .main-error__container {
    font-size: 1.5rem; /*24px*/
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {
  .main {
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 5rem; /*80px*/
    line-height: 120px; 
  }
  .subtitle {
    font-size: 2.5rem; /*32px*/
  }

  .main-logo {
    width: 150px;
  }

  .main-form__title {
    font-size: 2rem;
  }
  .action-btn {
    font-size:mat-form-fiel 1.75rem; /*28px*/
    height: 60px;
  }
  
  mat-form-field, small {
    font-size: 1.25rem; /*20px*/
  }
}