<div class="main">
    <section class="main-bg__container">
      <div class="main-content__header">
        <figure class="main-logo__umss-container animate__animated animate__fadeInTopLeft">
          <img src="assets/images/umss.png" alt="logo-umss">
        </figure>
        <p 
          class="title animate__animated animate__backInDown">
          ¡Bienvenido a LABGRO!
        </p>
        <p 
          class="subtitle animate__animated animate__backInDown animate__slow">
          ¿Listo Para Otro Día Mas de Producción?
        </p>
        <figure class="main-logo animate__animated animate__backInDown animate__slower">
          <img src="assets/images/logo.png" alt="logo-labgro">
        </figure>
      </div>
    </section>
    <br>
    <form class="main-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <p 
        class="main-form__title animate__animated animate__rubberBand animate__delay-1s animate__repeat-2">
        Inicia sesión para continuar
      </p>
      <br>
      
      <!-- Container email input-->
      <div class="main-form-field__container animate__animated animate__backInLeft animate__slow animate__delay-1s">
        <mat-form-field color="primary">
          <mat-label>Correo electrónico:</mat-label>
          <input 
            type="email"
            #mail 
            maxlength="50" 
            matInput 
            placeholder="ejemplo@ejemplo.com"
            formControlName="email"
            required
          />
          <mat-icon 
            matSuffix 
            class="material-icons-outlined" 
            aria-hidden="false" 
            aria-label="icon-email"
            >email
          </mat-icon>
        </mat-form-field>
      </div>
      <div style="margin-top: -5px;">
        <div class="main-error" *ngFor="let errorMessage of errorsMessages.email">
          <ng-container *ngIf="email.hasError(errorMessage.type) && (email.dirty || email.touched)">
            <small>{{errorMessage.message}}</small>
          </ng-container>
        </div>
      </div>
      <small 
        class="main-max__lenght" 
        *ngIf="mail.value.length === 50" 
        matSuffix
      >
        ¡Hey! Solo puedes ingresar 50 caracteres como máximo
      </small>
      
      <!-- Container password input-->
      <div class="main-form-field__container animate__animated animate__backInRight animate__slow animate__delay-1s">
        <mat-form-field color="primary">
          <mat-label>Contraseña</mat-label>
          <input 
            type="password" 
            #pass 
            maxlength="25" 
            placeholder="La contraseña mínima es de 8 caracteres" 
            formControlName="password" 
            matInput 
            [type]=" hide ? 'password' : 'text'" 
            required />
          <button
            type="button"
            mat-icon-button 
            matSuffix 
            (click)="hide = !hide" 
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
            >
            <mat-icon class="material-icons-outlined">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div style="margin-top: -5px;">
        <div class="main-error" *ngFor="let errorMessage of errorsMessages.password">
          <ng-container *ngIf="password.hasError(errorMessage.type) && (password.dirty || password.touched)">
            <small>{{errorMessage.message}}</small>
          </ng-container>
        </div>
      </div>
      <small 
        class="main-max__lenght" 
        *ngIf="pass.value.length === 25" 
        matSuffix 
      >
        ¡Hey! Solo puedes ingresar 25 caracteres como máximo
      </small>
      <br>

      <!-- Error in cominng backend -->
      <mat-error 
        class="main-error__container" 
        style="text-align: center;" 
        color="warn"
        *ngIf="stateError"
      >
        {{errorMessage}}
      </mat-error>
      <br>
      <button 
        class="action-btn animate__animated animate__backInUp animate__slow animate__delay-1s" 
        type="submit" 
        mat-raised-button 
        [disabled]="!loginForm.valid">
        <mat-icon aria-hidden="false" aria-label="login-icon">login</mat-icon>
        Ingresar
      </button>
      <br>
      <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
    </form>
    <div class="main-fab__button">
      <span class="spacer"></span>
      <button 
        mat-fab
        class="fab-btn animate__animated animate__fadeInTopRight" 
        aria-label="help-icon"
      >
        <mat-icon class="material-icons-outlined" style="color: white">help_outline</mat-icon>
      </button>
    </div>
</div>