<mat-toolbar>
  <span>Información de Kardex</span>
  <span class="spacer"></span>
  <button color="primary" mat-button>
    {{titleDownloand}} pdf
    <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="{2:label} icon">cloud_download</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="this.child.loading" mode="query"></mat-progress-bar>


<section class="main-container">
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="header-tab">
          <mat-icon class="example-tab-icon">calendar_today</mat-icon>
          <span>
            Kardex Diario de Producción
          </span>
        </div>
      </ng-template>
      <section class="main-content">
        <app-calendar-production></app-calendar-production>
      </section>
    </mat-tab>

    <mat-tab>
      <ng-template class="header-tab" mat-tab-label>
        <div class="header-tab">
          <mat-icon class="example-tab-icon">list_alt</mat-icon>
          <span>
            Kardex de Detalle de Producción
          </span>
        </div>
      </ng-template>

      <section class="main-content">
        <app-kardex-production></app-kardex-production>
      </section>
    </mat-tab>
  </mat-tab-group>
</section>
