.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: white;
}

.header-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container, mat-tab-group, mat-tab {
  width: 100%;
}

.main-content {
  width: 100%;
  padding: 30px 20px;
}