<mat-sidenav-container class="example-container" autosize>

  
  <mat-sidenav #drawer position="end" class="example-sidenav" mode="over">
    <mat-toolbar class="toolbar-category">
      <span>Categorías</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="openUaddEditComponentC('Crear',{})">
        <mat-icon color="primary">add</mat-icon>
          </button>
    </mat-toolbar> 
    
    <mat-list #listcategory>
      <mat-list-item #categoria.id id="categoria.id" *ngFor="let categorie of categories;">
        <a matLine >{{categorie. name}} </a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  (click)="openUaddEditComponentC('Modificar',categorie)">
            <mat-icon color="primary">mode_edit</mat-icon>
            <span>Modificar</span>
          </button>
          <button mat-menu-item (click)="openUaddEditComponentC('Eliminar',categorie)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>


  <mat-sidenav #drawers  class="example-sidenav" mode="over">
    <mat-toolbar class="toolbar-category">
      <span>Unidades</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)= "openUaddEditComponentUni('Crear',{})" >
        <mat-icon color="primary">add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-list #listcategory>
      <mat-list-item #categoria.id id="categoria.id" *ngFor="let unitMeasure of unitMeasures">
        <a matLine >{{unitMeasure.unit_measure}} </a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)= "openUaddEditComponentUni('Modificar', unitMeasure)" >
            <mat-icon color="primary">mode_edit</mat-icon>
            <span>Modificar</span>
          </button>
          <button mat-menu-item (click)= "openUaddEditComponentUni('Eliminar', unitMeasure)" >
            <mat-icon color="warn">delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>


  <mat-sidenav-content class="sidenav-container">
    <mat-toolbar class="mat-elevation-z2">
      <span style="margin-right: 16px;" *ngIf="!(isHandset$ | async)">Lista de Articulos</span>
      <button *ngIf="!(isHandset$ | async)" class="main-btn" type="button" mat-raised-button (click)="openUAddEditComponentA('Crear', {})">
        <mat-icon>add</mat-icon>
        Articulos
      </button>
      <span class="separation" *ngIf="!(isHandset$ | async)"></span>
      <button class="main-btn" type="button" mat-raised-button (click)="drawers.toggle()">
        Unidades
      </button>
      <span class="spacer"></span>
      <button class="main-btn" type="button" mat-raised-button (click)="drawer.toggle()">
        Categorias
      </button>
    </mat-toolbar>
    
    <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>

    
    <div *ngIf="emptyState">
      <app-empty-state [emptyData]="emptyData" (btnNewEmitter)="addNewArticle($event)"></app-empty-state>
    </div>


   
      
      <div class="table-container">
        <div class="main-searchbar">
          <div class="main-form-field__container">
            <mat-form-field class="field">
              <mat-label>Encuentra tu articulo</mat-label>
              <!-- [(ngModel)]="searchValue" -->
              <input 
                matInput 
                (keyup)="applyFilter($event)"
                maxlength="50" 
                class="input-search" 
                placeholder="Encuentra tu articulo" #input>
              <mat-icon 
              matSuffix 
              class="material-icons-outlined" 
              aria-hidden="false" 
              aria-label="icon-search"
              >search
            </mat-icon>
          </mat-form-field>
          </div>
        </div>
      
      <div *ngIf="dataState" class="container">
        <table mat-table [dataSource]="dataSource" matSort  class=" mat-elevation-z8">
              
          <ng-container matColumnDef="buton">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>   </th>
            <td mat-cell *matCellDef="let element" data-label="id" > 
              <button mat-stroked-button   routerLink="{{element.id}}">
                 {{element.cod_article}}
              </button> 
            </td>
          </ng-container>

          <ng-container matColumnDef="articulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Articulo  </th>
            <td mat-cell *matCellDef="let element" data-label="articulo" > 
              {{element.name_article}} </td>
          </ng-container>
          
          <ng-container matColumnDef="cantidad" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let element" data-label="unidad"> 
              <div>
                {{element.stock}}
              </div> 
            
            </td>
          </ng-container>

          <ng-container matColumnDef="notifications" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let element" data-label="unidad"> 
            
            <div class="icon"  [ngStyle]="{'color':retornarColor(element.is_low,element.stock, element.stock_min )}" >
              stock 
             
              <button mat-icon-button  >
                <mat-icon >
                  <span class="material-icons-outlined">
                    notifications_active
                    </span>
                </mat-icon>
              </button>

              
            </div>
              
            
            </td>
          </ng-container>
          
          <ng-container matColumnDef="unidad" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad Medida </th>
            <td mat-cell *matCellDef="let element" data-label="unidad"> 
              {{element.unit_measure}}  
            </td>
          </ng-container>
          
          <ng-container matColumnDef="fecha-ing">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de  Ingreso </th>
            <td mat-cell *matCellDef="let element" data-label="id"> 
                {{element.created_at}} 
            </td>
          </ng-container>
  
          <ng-container matColumnDef="precio-uni">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario Bs</th>
            <td mat-cell *matCellDef="let element" data-label="id"> 
               {{element.unit_price}}
            </td>
          </ng-container>

          

          <ng-container matColumnDef="categoria">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria  
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu" >
                  <button mat-menu-item (click)="resetCategory()" >todos</button>
                  <div *ngFor="let categorie of categories">
                  <button mat-menu-item (click)="filterCategory(categorie)">
                    {{categorie.name}}
                  </button>
                  </div>
                </mat-menu>
              </th>
              <td mat-cell *matCellDef="let element" data-label="categoria">
                  {{element.name}} 
              </td>
          </ng-container>

          <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  edit  </th> 
              <td mat-cell *matCellDef="let element" data-label="edit"> 
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu" >
                  <button mat-menu-item  (click)="openUAddEditComponentA('Modificar', element)">
                      <mat-icon color="primary" >mode_edit</mat-icon>
                      <span>Modificar</span>
                    </button>
                    <button mat-menu-item (click)="openUAddEditComponentA('Eliminar', element)">
                      <mat-icon color="warn" >delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
              </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontro "{{input.value}}"</td>
          </tr>
        </table> 
        <button (click)="openUAddEditComponentA('Crear', {})"  class="add-button main-btn"  *ngIf="(isHandset$ | async)"  mat-fab>
          <mat-icon >add</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



