.example-container {
  width: 100%;
  height: 90%;
}

.spacer {
  flex: 1 auto;
}

.separation{
  width: 1%;
}

.sidenav-container {
  background-color: var(--bg);
}

.mat-toolbar {
    background-color: white;
}
.toolbar-category {
    background-color: var(--dark);
    color: white;
}

.main-btn {
  background-color: var(--primary);
  border-radius: 36px;
  color: white;
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px !important;
    border: 1px solid white;
}
  
::ng-deep .mat-form-field-underline {
    position: static !important;
    margin-top: 10px;
}


.main-searchbar {
    width: 100%;
    padding: 0px 20px;
}


.table-container{
    grid-area: table;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    overflow-x: auto !important;
}
 
 mat-paginator{
     width: 100%;
 }

 .container{
    width: 100%;
    margin-top: 15px;
    padding: 0px 20px;
    overflow: auto;
}

.icon{
    font-size: 11px;
}

.add-button {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
  }
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-searchbar {
        width: 50%;
    }
  }