.mat-toolbar {
  background-color: var(--dark);
  color: white;
}

.spacer {
  flex: 1 auto;
}

.main-form_container {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.action-btn__add {
  background-color: var(--primary);
  color: white;
  border-radius: 32px;
}