table {
  width: 100%;
  margin-top: 20px;
}

.mat-column-article {
  min-width: 200px;
}

.article-name {
  color: var(--primary);
  cursor: pointer;
}

/* .mat-column-action {
  width: 90px;
} */

tr.element-row:hover {
  background-color: rgba(153, 198, 100, 0.25);
  cursor: pointer;
  transition: 0.3s;
}