<table mat-table [dataSource]="dataSource" class="mat-elevation-z0" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="article">
    <th mat-header-cell *matHeaderCellDef> Insumo </th>
    <td [routerLink]="['article-detail/' + element.id]" mat-cell *matCellDef="let element">
      <strong class="article-name">
        {{element.name_article}}
      </strong>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unid. Med. </th>
    <td [routerLink]="['article-detail/' + element.id]" mat-cell *matCellDef="let element">
       {{element.unit_measure}}
    </td>
  </ng-container>
  
  <!-- Name Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
    <td [routerLink]="['article-detail/' + element.id]" mat-cell *matCellDef="let element"> 
      {{element.stock_start}}
    </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="label">more_vertical</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editArticle(element)">
          <mat-icon color="primary">mode_edit</mat-icon>
          <span>Modificar</span>
        </button>
        <button mat-menu-item (click)="deleteArticle(element)">
          <mat-icon color="warn">delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
      <button mat-icon-button (click)="addToCart(element)">
        <mat-icon color="accent" aria-label="label">add_shopping_cart</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr class="element-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>