<mat-toolbar class="mat-elevation-z6">
    <span class="title">Modificar Materia Prima/Insumo</span>
    <span class="spacer"></span>
    <button mat-icon-button matDialogClose>
      <mat-icon color="primary" aria-label="icon-close">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  
  <form class="main-form" [formGroup]="dataMaterialForm">
    <mat-error *ngIf="!dataMaterialForm.controls.article.valid">
      Por favor selecciona una materia prima o insumo de la lista
    </mat-error>
    <div class="main-form-field__container">
      <mat-form-field *ngIf="canRender">
        <mat-label>Materia prima/Insumo:</mat-label>
        <input
          matInput
          required
          placeholder="Azucar"
          formControlName="article"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
            (click)="getArticle(option)"
          >
            {{ option.name_article }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="main-form-field__container">
      <mat-form-field>
        <mat-label>Código:</mat-label>
        <input
          type="text"
          matInput
          formControlName="code"
          placeholder="COD123"
          required
        />
      </mat-form-field>
    </div>
    <div *ngFor="let errorMessage of errorsMessages.code">
      <ng-container
        *ngIf="
          codeArticle.hasError(errorMessage.type) &&
          (codeArticle.dirty || codeArticle.touched)
        "
      >
        <mat-error>{{ errorMessage.message }}</mat-error>
      </ng-container>
    </div>
    <div class="main-form-field__container">
      <mat-form-field>
        <mat-label>Cantidad stock inicial:</mat-label>
        <input
          type="number"
          matInput
          formControlName="stock_start"
          placeholder="65"
          required
        />
      </mat-form-field>
    </div>
    <div *ngFor="let errorMessage of errorsMessages.stock_start">
      <ng-container
        *ngIf="
          quantityInitialStock.hasError(errorMessage.type) &&
          (quantityInitialStock.dirty || quantityInitialStock.touched)
        "
      >
        <mat-error>{{ errorMessage.message }}</mat-error>
      </ng-container>
    </div>
    <div class="main-form-field__container">
      <mat-form-field>
        <mat-label>Cantidad mínima de stock:</mat-label>
        <input
          type="number"
          matInput
          formControlName="stock_min"
          placeholder="65"
          required
        />
      </mat-form-field>
    </div>
    <div *ngFor="let errorMessage of errorsMessages.stock_min">
      <ng-container
        *ngIf="
          quantityMinimalStock.hasError(errorMessage.type) &&
          (quantityMinimalStock.dirty || quantityMinimalStock.touched)
        "
      >
        <mat-error>{{ errorMessage.message }}</mat-error>
      </ng-container>
    </div>
    <div class="main-form-field__container">
      <mat-form-field>
        <mat-label>Seleccionar color:</mat-label>
        <input
          type="color"
          name="color"
          matInput
          placeholder="color"
          [ngClass]="{ 'no-color': !selectedColor }"
          [(ngModel)]="selectedColor"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="changeColor($event)"
          required
        />
        <span>
          {{ selectedColor }}
        </span>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      style="color: #ffffff"
      (click)="saveData()"
      [disabled]="!dataMaterialForm.valid"
    >
      Modificar
    </button>
  </form>
  