<form [formGroup]="dataForm" class="main-form-field main-month__input">
  <input class="main-month__input-text" [matDatepicker]="dp" placeholder="Junio" formControlName="date">
  <mat-datepicker-toggle matSuffix [for]="dp">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker 
    #dp
    disabled="false"
    startView="year"
    (monthSelected)="chosenMonthHandler($event, dp)"
    >
  </mat-datepicker>
</form>
