.main-form-field {
  height: 44px;
  width: 150px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 12px;
  margin-right: 16px;
}

.main-month__input {
  /* width: 96px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-month__input-text {
  width: 100%;
  /* flex-grow: 1; */
  border: none;
  background-color: var(--bg);
  font-size: 1rem;
  opacity: 0.8;
}
