<mat-toolbar class="mat-elevation-z6">
  <span class="title">{{ name }}</span>
  <span class="subtile">Datos Generales</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<section class="main-section__container">
  <div class="main-section__card">
    <mat-card>
      <img mat-card-image [src]="image" alt="imagen del producto"/>
      <mat-card-content>
        <mat-card-title>{{ name }}</mat-card-title>
        <mat-card-subtitle>{{ code }}</mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions>
        <p mat-card-subtitle>580 productos/mes</p>
        <button mat-icon-button class="btn-container-r">
          <mat-icon
            class="material-icons-outline icon-cloud"
            color="primary"
            aria-label="subir imagen icon"
            >cloud_upload</mat-icon
          >
          <input
            type="file"
            class="input-hidden"
            accept="image/png, image/gif, image/jpeg"
            (change)="valueChange($event, 'img')"
          />
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <form class="main-form" action="" [formGroup]="dataGeneralForm">
    <p>Los campos con * son obligatorios</p>
    <br />
    <mat-divider></mat-divider>
    <div class="main-form-field__container">
      <mat-form-field>
        <mat-label>Nombre del producto:</mat-label>
        <input
          type="text"
          matInput
          placeholder="Leche Saborizada"
          formControlName="name"
          (ngModelChange)="valueChange($event, 'name')"
          required
        />
      </mat-form-field>
    </div>
    <div class="main-form-field__container">
      <mat-form-field>
        <mat-label>Código de producto:</mat-label>
        <input
          type="text"
          matInput
          placeholder="Le-Sa20"
          formControlName="code"
          (ngModelChange)="valueChange($event, 'code')"
          required
        />
      </mat-form-field>
    </div>
    <div class="main-form-field__container">
      <mat-form-field>
        <mat-label>Descripción:</mat-label>
        <textarea
          type="text"
          matInput
          placeholder="Ingresa un breve descripción"
          formControlName="description"
        >
        </textarea>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!dataGeneralForm.valid"
      style="color: #ffffff"
      (click)="saveData()"
    >
      Modificar
    </button>
  </form>
</section>

