.spacer {
  flex: 1 auto;
}

mat-toolbar {
  background-color: var(--dark);
  color: var(--primary);
  font-size: 1rem;
}
 /*Cloud btn*/
 .btn-container-r{
   position: relative;
 }

.input-hidden{
  opacity: 0;
  cursor: pointer !important;
  position: absolute; /* don't let it take up space */
  width: 30px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-cloud{
  position: relative;
}

.title {
  padding-right: 16px;
  border-right: 2px solid var(--primary);
}

.subtile {
  padding-left: 16px;
  color: white;
}

.main-form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.main-form button {
  border-radius: 30px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  border: 1px solid white;
}

::ng-deep .mat-form-field-underline {
  position: static !important;
  margin-top: 10px;
}

.main-section__container {
  display: flexbox;
  padding: 20px;
}

.main-section__card {
  width: 100%;
  flex-grow: 1;
}

mat-card-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

mat-card-subtitle {
  color: var(--primary);
}

mat-card-actions p {
  margin: 0px;
}

@media only screen and (min-width: 768px){

  mat-toolbar {
    font-size: 1.125rem;
  }

  .main-section__container {
    display: flex;
  }
  .main-form {
    width: 60%;
  }
  
  .main-section__card {
    width: 40%;
  }

  img {
    /* width: 100%; */
    height: 250px;
  }
}
