<mat-toolbar class="mat-elevation-z6">
  <span class="title">Modificar venta</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon color="primary" aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="true" mode="determinate" value="50"></mat-progress-bar>

<form class="main-form">
  <p>Los campos con * son obligatorios</p>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Producto *:</mat-label>
      <mat-select>
        <mat-option *ngFor="let product of [1,5,2]" [value]="product">
          {{product}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Unidades/presentación *:</mat-label>
      <mat-select>
        <mat-option *ngFor="let product of [1,5,2]" [value]="product">
          {{product}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Tipo de Venta *:</mat-label>
      <mat-select>
        <mat-option *ngFor="let product of [1,5,2]" [value]="product">
          {{product}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Cantidad en Efectivo *:</mat-label>
      <input
        type="text"
        matInput
        placeholder="COD123"
        required
      />
    </mat-form-field>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Destino:</mat-label>
      <input
        type="number"
        matInput
        placeholder="65"
        required
      />
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: space-between;">
    <span>Existe unidades defectuosa</span>
    <mat-checkbox color="primary" class="example-margin" [(ngModel)]="checked"></mat-checkbox>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Cantidad:</mat-label>
      <input
        type="number"
        matInput
        placeholder="65"
        required
      />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    style="color: #ffffff"
  >
    Modificar
  </button>
</form>
