.mat-toolbar {
  background-color: white;
}

.spacer {
  flex: 1 auto;
}

.main-title {
  font-size: 0.875rem;
}

.main-table__container {
  height: 270px;
  overflow: auto;
}

table {
  width: 100%;
}

th.mat-column-unit, th.mat-column-unit_price, th.mat-column-total_price 
td.mat-column-unit, td.mat-column-unit_price, td.mat-column-total_price 
{
  min-width: 83px;
}

/* td.mat-column-actions {
  min-width: 20px;
  max-width: 30px;
} */

td.mat-column-in_count {
  max-width: 100px;
}

td.mat-column-description {
  min-width: 300px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0px 8px;
}

.mat-table-sticky-border-elem-top {
  border-bottom: 1px solid rgba(45, 45, 46, 0.15);
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid rgba(45, 45, 46, 0.15);
}

.mat-table-sticky-border-elem-bottom {
  border-top: 1px solid rgba(45, 45, 46, 0.15);
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid rgba(45, 45, 46, 0.15);
}

.action-btn__add {
  border-radius: 32px;
  background-color: var(--primary);
  color: white;
}

.main-action__btn-mobile {
  display: flex;
  justify-content: flex-end;
  margin: 16px auto;
}

.action-btn__add-mobile {
  background-color: var(--primary);
  color: white;
}

.action-btn__previous {
  border-radius: 32px;
  border: 1px solid var(--primary);
  color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 1rem;
  }

  .main-table__container {
    height: 350px;
    overflow: auto;
  }
}