<mat-toolbar>
  <span><strong class="main-title">¿Que articulos van a entrar?</strong></span>
  <span class="spacer"></span>
  <button
    (click)="addArticle()"
    *ngIf="(isHandset$ | async) === false" 
    ngif class="action-btn__add" 
    mat-raised-button
    >
    <mat-icon aria-hidden="false" aria-label="icono de mas">add</mat-icon>
    Articulos
  </button>
</mat-toolbar>
<br>


<div *ngIf="!articles">
  <app-empty-state [emptyData]="emptyData" (btnNewEmitter)="addArticle()"></app-empty-state>
</div>

<div *ngIf="articles" class="main-table__container mat-elevation-z8">
  <table mat-table mat-table [dataSource]="articles">
    <!-- in-count Column -->
    <ng-container matColumnDef="in_count" sticky>
      <th mat-header-cell *matHeaderCellDef> Cantidad Entrante </th>
      <td mat-cell *matCellDef="let article"> {{article.quantity}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- unit Column -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef> Unidad </th>
      <td mat-cell *matCellDef="let article"> {{article.article.unit_measure}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let article"> {{article.article.name_article}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- unit_price Column -->
    <ng-container matColumnDef="unit_price">
      <th mat-header-cell *matHeaderCellDef> Precio Unitario Bs.  </th>
      <td mat-cell *matCellDef="let article"> {{article.unit_price}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    
    <!-- total_price Column -->
    <ng-container matColumnDef="total_price">
      <th mat-header-cell *matHeaderCellDef> Precio Total Bs. </th>
      <td mat-cell *matCellDef="let article"> {{(article.unit_price * article.quantity).toFixed(2)}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'Bs. '}} </td>
    </ng-container>
    
    <!-- actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let article; index as i">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editArticle(article, i)">
            <mat-icon color="primary">mode_edit</mat-icon>
            <span>Modificar</span>
          </button>
          <button mat-menu-item (click)="deleteArticle(article, i)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  
  </table>
</div>

<div class="main-action__btn-mobile">
  <button
    (click)="addArticle()"
    *ngIf="(isHandset$ | async) === true" 
    class="action-btn__add-mobile" 
    mat-fab aria-label="btn mobile" 
    >
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-toolbar>
  <button 
    class="action-btn__previous" 
    mat-raised-button
    matStepperPrevious
    >
    Volver
  </button>
  <span class="spacer"></span>
  <button 
    class="action-btn__add" 
    mat-raised-button
    (click)="saveData()"
    [disabled]="!(articlesData.length !== 0)"
    >
    Guardar
    <span *ngIf="clicked === 1"> y salir</span>
  </button>
</mat-toolbar>
