<article id="pie-chart-parent" class="main-container">
  <h3>Cuadro Detalle de Ventas</h3>
  <br>
  <div class="main-table__container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha Venta </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- production Column -->
      <ng-container matColumnDef="production">
        <th mat-header-cell *matHeaderCellDef> Producción Estandar Proyectada </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- unit Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unidad/Presentación </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- sale_type Column -->
      <ng-container matColumnDef="sale_type">
        <th mat-header-cell *matHeaderCellDef> Tipo Venta </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- first_quantity Column -->
      <ng-container matColumnDef="first_quantity">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>


      <!-- second_quantity Column -->
      <ng-container matColumnDef="second_quantity">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>


      <ng-container matColumnDef="header-row-first-group">
        <th
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="4">
          <div>
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-second-group">
        <th
          class="sale"
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="1">
          <div>
            Unidades Entregadas para la Venta al Contado          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-third-group">
        <th
          class="sale"
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="1">
          <div>
            Unidades Entregadas para la Venta a Crédito          </div>
        </th>
      </ng-container>
      <tr
        class="header-row"
        mat-header-row
        *matHeaderRowDef="
          [
            'header-row-first-group',
            'header-row-second-group',
            'header-row-third-group',
          ]; sticky:true">
      </tr>
      <tr
        mat-header-row
        class="header-row"
        *matHeaderRowDef="displayedColumns; sticky:true"
        ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<!--  <mat-paginator [length]="100"-->
<!--                [pageSize]="10"-->
<!--                [pageSizeOptions]="[5, 10, 25, 100]"-->
<!--                aria-label="Select page">-->
<!--  </mat-paginator>-->
</article>
