:host {
  flex-grow: 1;
  margin: 16px auto;
}

.main-container {
  background-color: #ffffff95;
  padding: 20px;
  box-shadow: -2px 5px 15px rgba(178, 178, 178, 0.25);
  border-radius: 10px;
  min-width: 650px;
  /* min-height: 330px; */
  height: 100%;
}

.main-table__container {
  width: 100%;
  height: 300px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-production, .mat-column-first_quantity, .mat-column-second_quantity {
  max-width: 150px;
  /* background-color: red; */
}

.mat-header-cell {
  padding-right: 10px;
  color: #ffffff;
}

.header-row {
  background: rgba(58, 70, 81, 0.8);
}

.sale {
  max-width: 70px;
  padding: 8px auto;
}