<mat-toolbar class="mat-elevation-z6">
  <span>Catidad sobrante por mes</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon color="primary" aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>


<div>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</div>