<section class="main-container">
  <div class="main-form__container">
    <mat-toolbar>
      <span class="main-form__title">Los datos con * son importantes</span>
    </mat-toolbar>
    <form [formGroup]="dataGeneralForm">
      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label>Nro de comprobante:</mat-label>
          <input 
            type="text" 
            formControlName="receipt" 
            matInput 
            placeholder="985623"
            maxlength="9"
            required>
          </mat-form-field>
      </div>
      <div class="main-error" *ngFor="let errorMessage of errorsMessages.receipt">
        <ng-container *ngIf="receipt.hasError(errorMessage.type) && (receipt.dirty || receipt.touched)">
          <mat-error>{{errorMessage.message}}</mat-error>
        </ng-container>
      </div>

      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label>Nro de pedido:</mat-label>
          <input 
            type="text" 
            maxlength="9"
            formControlName="order_number" 
            matInput 
            placeholder="985623" 
            required>
        </mat-form-field>
      </div>
      <div class="main-error" *ngFor="let errorMessage of errorsMessages.order_number">
        <ng-container *ngIf="order_number.hasError(errorMessage.type) && (order_number.dirty || order_number.touched)">
          <mat-error>{{errorMessage.message}}</mat-error>
        </ng-container>
      </div>

      <div class="main-form-field__container">
        <mat-form-field *ngIf="areas">
          <mat-label>Area de destino *:</mat-label>
          <mat-select formControlName="name">
            <mat-option 
              *ngFor="let area of areas"
              [disabled]="!area.Active" 
              [value]="area.name"
              (click)="dataGeneralForm.controls.section_id.setValue(area.id)"
              >
              {{ area.name }} 
              <small *ngIf="!area.Active">(deshabilidato)</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="main-error" *ngFor="let errorMessage of errorsMessages.areas">
        <ng-container *ngIf="area.hasError(errorMessage.type) && (area.dirty || area.touched)">
          <mat-error>{{errorMessage.message}}</mat-error>
        </ng-container>
      </div>

      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label>Fecha de pedido: *</mat-label>
          <input matInput [matDatepicker]="picker"  [matDatepickerFilter]="myDateFilter" [max]="maxDate" [max]="minDate" required formControlName="output_date"
            (dateChange)="addEvent($event, 'order')">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
   
      <div class="main-form-field__container">
        <mat-form-field>
          <mat-label>Fecha de entrega: *</mat-label>
          <input matInput [matDatepicker]="second_picker" [matDatepickerFilter]="myDateFilter" [max]="maxDate" [max]="minDate" formControlName="delivery_output_date"
            (dateChange)="addEvent($event, 'delivery')">
          <mat-datepicker-toggle matSuffix [for]="second_picker"></mat-datepicker-toggle>
          <mat-datepicker #second_picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

    </form>
    <mat-toolbar>
      <span class="spacer"></span>
      <button mat-raised-button class="action-btn__next" [disabled]="!dataGeneralForm.valid" (click)="saveGeneralData()"
        matStepperNext>
        Siguiente
      </button>
    </mat-toolbar>
  </div>
  <figure>
    <img src="assets/images/data-img/data-out.png" alt="imagen de datos salientes">
  </figure>
</section>
