.sidenav-container {
  height: 90vh;
}

.mat-sidenav {
  width: 320px;
}

.active {
  border-right: 5px solid var(--primary);
}

.title {
  color: #ffffff;
  font-size: 1rem;
}

.box-container {
  display: flex;
}

.box {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.pending {
  background-color: var(--warming);
}

.approved {
  background-color: var(--primary);
}

.not-approved {
  background-color: var(--error);
}

.title-order {
  max-width: 300px;
}

.toolbar-date {
  border-bottom: 1px solid #3A465125;
}