<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav fixedTopGap #sidenav class="mat-elevation-z4" mode="side" opened="true">
    <mat-toolbar color="accent">
      <mat-toolbar-row class="toolbar-date">
          <app-month  (emitterMonthEvent)="filterDate($event, 'month')" ></app-month>  
          <app-year (emitterYearEvent)="filterDate($event, 'year')" ></app-year>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="title">Solicitudes de materiales: 
          <strong>{{pending}}</strong>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChanged($event)">
      <mat-tab>
        <ng-template matTabLabel>
          <div class="box-container">
            <div class="box pending"></div>
            <p>Pendientes</p>
          </div>
        </ng-template>
        <mat-nav-list>
         <a mat-list-item
            *ngFor="let orden of ordernsPeding"
             [routerLink]="['detalle/' + orden.id]"
            routerLinkActive="active"
           >
            <div style="display: flex;" matLine>
              <div class="box pending"></div>
              <h3 matLine class="title-order">
                {{orden.section_name}}
              </h3>
            </div>
            <h4 matLine>Req: {{orden.quantity_materials}} materias primas/insumos </h4>
          </a>
        </mat-nav-list>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <div class="box-container">
            <div class="box approved"></div>
            <p>Aprobadas</p>
          </div>
        </ng-template>
        <mat-nav-list>
          <a mat-list-item
            *ngFor="let orden of ordensApproved"
            [routerLink]="['detalle/' + orden.id]"
            routerLinkActive="active"
            >
            <div style="display: flex;" matLine>
              <div class="box approved"></div>
              <h3 matLine class="title-order">
                {{orden.section_name}}
              </h3>
            </div>
            <h4 matLine>Req: {{orden.quantity_materials}} materias primas/insumos </h4>
          </a> 
        </mat-nav-list>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <div class="box-container">
            <div class="box not-approved"></div>
            <p>Rechazadas</p>
          </div>
        </ng-template>  
        <mat-nav-list>
          <a mat-list-item
            *ngFor="let orden of ordernsDisapproved"
            [routerLink]="['detalle/' + orden.id]"
            routerLinkActive="active"
            >
            <div style="display: flex;" matLine>
              <div class="box not-approved"></div>
              <h3 matLine class="title-order">
                {{orden.section_name}}
              </h3>
            </div>
            <h4 matLine>Req: {{orden.quantity_materials}} materias primas/insumos </h4>
          </a>
        </mat-nav-list> 
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <div class="container">
    <router-outlet (activate)="subcribeToEmiter($event)" (deactive)="unsubcribe()" ></router-outlet>
  </div>
</mat-sidenav-container>