.mat-toolbar {
  background-color: white;
  min-height: 64px;
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.spacer {
  flex: 1 auto;
}

.action-btn__add {
  background-color: var(--primary);
  border-radius: 32px;
  color: white;
}

.main-card__info {
  width: 100%;
  max-width: 350px;
}
  
.main {
  padding: 16px;
}

.main-card-notes {
  overflow-y: auto;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}