.spacer {
  flex: 1 auto;
}

.side-nav__toolbar {
  background-color: var(--dark);
  color: var(--primary);
}

.side-nav__content-toolbar {
  background-color: white;
  width: 100%;
}

.mat-sidenav-container {
  width: 100%;
  height: 90vh;
  background-color: var(--bg);
}

.mat-sidenav-content {
  overflow-x: hidden;
  width: 100%;
}

.mat-sidenav {
  width: 540px;
  background-color: var(--bg);
}

::ng-deep .mat-drawer-content {
  overflow-x: hidden;
}

.main-container {
  padding: 20px 16px;
  display: block;
}

.main-container__banner {
  display: flex;
  flex-wrap: wrap;
}

.main-container__banner .mat-list {
  width: 469px;
  height: 325px;
  background: white;
  margin-right: 16px;
  margin-bottom: 16px;
  flex-grow: 1;
}

.main-container__chart {
  flex-grow: 1;
  height: 325px;
  overflow-y: auto;
  background-color: var(--dark);
  border-radius: 8px;
}

.main-container__chart-title {
  top: 20px;
  left: 20px;
  color: white;
  padding: 16px;
}


.main-container__in-construction {
  width: 50%;
  margin: auto;
}

.main-list__description {
  height: auto;
  display: flex;
  align-items: flex-start;
}

.item-list__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item-list__info div{
  display: flex;
  align-items: center;
}

.item-list__info-detail {
  margin-left: 16px;
  color: rgba(58, 70, 81, 0.5);
  word-break: break-all;
  /* text */
}

.item-list__info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #85CE36;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.info-total {
  color: var(--primary);
}

.side-nav {
  max-height: 80vh;
  overflow-y: auto;
}

.history-toolbar {
  background-color: white;
}