<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z4" mode="over" position="end" >
    <mat-toolbar class="mat-elevation-z6 side-nav__toolbar">
      <span *ngIf="dataState">{{ product.name }}</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon color="primary" aria-label="label">close</mat-icon>
      </button>
    </mat-toolbar>
    <section class="side-nav">
      <app-data-articles [dataSource]="dataSourceArticle" [product]="product"></app-data-articles>
      <app-data-presentation [dataSource]="dataSourcePresentation" [product]="product"></app-data-presentation>
    </section>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z6 side-nav__content-toolbar">
      <button mat-icon-button (click)="goBack()">
        <mat-icon color="primary" aria-label="label">arrow_back</mat-icon>
      </button>
      <span>Detalle del producto</span>
      <span class="spacer"></span>
      <app-month></app-month>
      <app-year (emitterYearEvent)="changeYear($event)"></app-year>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon color="primary" aria-label="label">store</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="label">more_vertical</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  (click)="editProduct()">
          <mat-icon color="primary">mode_edit</mat-icon>
          <span>Modificar</span>
        </button>
        <button mat-menu-item (click)="deleteProduct()">
          <mat-icon color="warn">delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
    <mat-progress-bar mode="determinate" value=20></mat-progress-bar>
    <main class="main-container">
      <section class="main-container__banner" *ngIf="dataState">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <div class="item-list__info">
              <div>
                Producto:
                <span class="item-list__info-detail">{{product.name}}</span>
              </div>
              <img src="{{product.image}}" alt="imagen-producto" loading="lazy">
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <div class="item-list__info">
              <div>
                Codigo:
                <span class="item-list__info-detail">{{product.code}}</span>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item style="height: auto; padding: 16px 0px;" role="listitem">
            <div class="item-list__info">
              <div>
                Descripción:
                <span class="item-list__info-detail">{{product.description}}</span>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <div class="item-list__info">
              <div>
                Cantidad total producida:
                <span class="item-list__info-detail info-total">{{totalQuantityProduced}}</span>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
        <section class="main-container__chart">
          <h1 class="main-container__chart-title">Histórico de Producción</h1>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [noBarWhenZero]="false"
            [rotateXAxisTicks]="false"
            [barPadding]="26"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </section>
      </section>
      <br>
      <mat-divider></mat-divider>

      <mat-toolbar class="history-toolbar">
        <span>Registro de producción</span>
      </mat-toolbar>
      <app-history-data [productionsData]="productions"></app-history-data>

    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
