<mat-card>
  <div class="main-card__header">
      <img 
        mat-card-image 
        src="{{product.image}}" 
        alt="Photo of a Shiba Inu" 
        class="mat-card-image"
      >
      <div class="overlay">
        <div class="content">
          <a class="dotted" [routerLink]="'product-detail/'+product.id">Detalle Producto</a>
        </div>
      </div>
        
  </div>
  
  <mat-card-content>

      <mat-card-title class="mat-card__title">{{product.name}}</mat-card-title>
      <span class="product-code">{{product.code}}</span>

  </mat-card-content>

  <mat-card-actions>
      <span class="main-card_title text-action">{{product.stock_total || 'Cantidad total producida / mes'}}</span>
      <span class="spacer"></span>
      <button mat-icon-button 
          [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="editNote()">
          <mat-icon color="primary">mode_edit</mat-icon>
          <span>Modificar</span>
        </button>
        <button mat-menu-item (click)="deleteNote()">
          <mat-icon color="warn">delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </mat-card-actions>
</mat-card>
