.mat-card {
  width: 100%;
  /* height: 185px; */
  max-width: 350px;
  margin: 10px auto;
}

.spacer {
  flex: 1 auto;
}

.main-card__header {
  /* height: 50px; */
  padding: 16px;
  display: flex;
  justify-content: space-between;
  font-family: Ubuntu sans-serif;
  font-family: sans-serif;
  position: relative;
}

.mat-card-image {
  height: 200px;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}
.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  white-space: nowrap;
}

.content a {
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.dotted {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  color: rgb(138, 219, 51);
  text-decoration: none;
}

.overlay {
  opacity: 0;
}

.main-card__header:hover img {
  filter: brightness(40%);
}
.main-card__header:hover .overlay {
  opacity: 1;
}

.main-card-receipt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: right;
  letter-spacing: 0.25px;

  /* failed */

  color: #ffffff;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  margin-bottom: 10px;
}

.mat-card-content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.8;
}

.mat-card-content > p {
  margin-top: 10px;
}

.mat-card-actions {
  display: flex;
  align-items: center;
}

.mat-card:hover {
  box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
}

.mat-card-content:hover {
  cursor: pointer;
}

.mat-card__title{
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  text-align: right;
  letter-spacing: 0.25px;
}

.product-code{
  color: #85CE36;
}

.text-action {
  padding-left: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.text-action strong {
  color: var(--primary);
  letter-spacing: 1px;
}
