$mat-theme-ignore-duplication-warnings: true;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lab-primary: mat-palette($mat-light-green-palette, A700);
$lab-accent: mat-palette($mat-yellow, 800, A100, A400);
$lab-dark: mat-palette($mat-blue-gray, 800);

// The warn palette is optional (defaults to red).
$lab-warn: mat-palette($mat-red, A100
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lab-theme: mat-light-theme((color: (
      primary: $lab-primary,
      accent: $lab-accent,
      warn: $lab-warn,
      dark: $lab-dark,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lab-theme);