<mat-toolbar class="mat-elevation-z6">
  <span class="title">Nectar Frutilla</span>
  <span class="subtitle">Unidad/Presentación</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon color="primary" aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>

<form class="main-form" [formGroup]="dataUnitForm">
  <p>Los campos con * son obligatorios</p>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Unidad/Presentacion</mat-label>
      <input
        type="text"
        matInput
        [readonly]="true"
        formControlName="unit"
        placeholder="54.23"
        required
      />
    </mat-form-field>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Cantidad:</mat-label>
      <input
        type="number"
        matInput
        formControlName="quantity"
        placeholder="54.23"
        required
      />
    </mat-form-field>

  </div>
  <div *ngFor="let errorMessage of errorsMessages.quantity">
    <ng-container
      *ngIf="
        quantity.hasError(errorMessage.type) &&
        (quantity.dirty || quantity.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Costo Unitario de Produccion:</mat-label>
      <input
        type="number"
        matInput
        formControlName="unit_cost_production"
        placeholder="10.23"
        required
      />
    </mat-form-field>

  </div>
  <div *ngFor="let errorMessage of errorsMessages.unit_cost_production">
    <ng-container
      *ngIf="
        unitCostProduction.hasError(errorMessage.type) &&
        (unitCostProduction.dirty || unitCostProduction.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Costo Unitario de Venta:</mat-label>
      <input
        type="number"
        matInput
        formControlName="unit_price_sale"
        placeholder="12.23"
        required
      />
    </mat-form-field>

  </div>
  <div *ngFor="let errorMessage of errorsMessages.unit_price_sale">
    <ng-container
      *ngIf="
        unitPriceSale.hasError(errorMessage.type) &&
        (unitPriceSale.dirty || unitPriceSale.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>

  <button
    mat-raised-button
    color="primary"
    style="color: #ffffff"
    (click)="saveData()"
    [disabled]="!dataUnitForm.valid"
  >
    Modificar
  </button>
</form>
