.mat-toolbar {
  background-color: var(--dark);
  color: var(--primary);
}

.title {
  padding-right: 16px;
  border-right: 1px solid var(--primary);
}

.subtitle {
  color: white;
  margin-left: 16px;
}

.spacer {
  flex: 1 auto;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  border: 1px solid white;
}

::ng-deep .mat-form-field-underline {
  position: static !important;
  margin-top: 10px;
}

.main-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 16px;
}

button {
  border-radius: 30px;
}
