<mat-toolbar class="mat-elevation-z6">
  <span class="title">{{name}} </span>
  <span class="subtile">Ingredientes</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<!---
<mat-progress-bar mode="determinate" value=20></mat-progress-bar>
-->
<form class="main-form" [formGroup]="dataArticleForm"  (ngSubmit)="onSubmit()">
  <p>Los campos con * son obligatorios</p>
  <br/>
  <mat-divider></mat-divider>

  <div class="main-form-field__container" >
    <mat-form-field >
      <mat-label>Materia prima/Insumo*:</mat-label>
      
      <input 
        matInput 
        required 
        placeholder="Hojas bond"
        formControlName="article"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option 
          *ngFor="let option of filteredOptions | async " 
          [value]="option"
          (click)="getArticle(option)"
          >
          {{option.name_article}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-error 
    *ngIf="!dataArticleForm.controls.article_id.valid"
    >
      Por favor selecciona un insumo de la lista
  </mat-error>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Formula Base:</mat-label>
      <input 
        matInput 
        placeholder="65/58"
        formControlName="quantity"
        (input)="inputValidator($event)"
      >
    </mat-form-field>
  </div>
  
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Unidad de Medida:</mat-label>
      <input 
        type="text" 
        matInput 
        [readonly]="true"
        [value]="articleMeasure"
        formControlName="unit_measure"
      >
    </mat-form-field>
  </div>
  <button 
    [disabled]="!dataArticleForm.valid"
    *ngIf="data.name === 'Crear'"
    mat-raised-button 
    color="primary" 
    type="submit"
  >Agregar</button>

  <button  
  [disabled]="!dataArticleForm.valid"
   *ngIf="data.name  === 'Modificar'" 
   type="submit"  
   mat-raised-button
   color="primary" 
   >Modificar</button>
</form>