.mat-card {
  width: 100%;
  /* height: 185px; */
  max-width: 350px;
  margin: 10px auto;
}

.spacer {
  flex: 1 auto;
}

.main-card__header {
  /* height: 50px; */
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-family: Ubuntu sans-serif;
}

.main-card_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  letter-spacing: 0.25px;
}

.main-card-receipt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: right;
  letter-spacing: 0.25px;

  /* failed */

  color: #F85D5D;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  margin-bottom: 10px;
}

.mat-card-content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.8;
}

.mat-card-content > p {
  margin-top: 10px;
}

.mat-card-actions {
  display: flex;
  align-items: center;
}

.mat-card:hover {
  box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
}

.mat-card-content:hover {
  cursor: pointer;
}

.text-action {
  padding-left: 8px;
  font-size: 0.875rem;
}

.text-action strong {
  color: var(--primary);
  letter-spacing: 1px;
}