<mat-card>
  <div class="main-card__header">
    <span class="main-card_title">Nota de entrega</span>
    <span class="main-card-receipt"> N° {{ output.receipt }}</span>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content [routerLink]="['detalle-nota/' + output.id]" routerLinkActive="router-link-active" >
    <p>Pedido nro: {{ output.order_number }}</p>
    <p>Fecha de pedido: {{ output.order_date | date }}</p>
    <p>Fecha de entrega: {{ output.delivery_date | date}} </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <span class="main-card_title text-action">Para la unidad: <strong>{{ output.name }}</strong></span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editNote()">
        <mat-icon color="primary">mode_edit</mat-icon>
        <span>Modificar</span>
      </button>
      <button mat-menu-item (click)="deleteNote()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>