mat-toolbar {
  background-color: var(--dark);
  color: var(--primary);
}

.spacer {
  flex: 1 auto;
}

.container {
  width: 100%;
  padding: 20px;
  max-height: 450px;
  overflow-y: auto;
}

table {
  width: 100%;
}

.mat-column-name {
  min-width: 200px;
}

.action-btn {
  float: right;
}