<mat-toolbar class="mat-elevation-z6">
  <span>Presentaciones</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="closeSidenav()">
    <mat-icon aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <table mat-table [dataSource]="presentationList " class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>
        <button class="action-btn" color="primary" mat-icon-button (click)="addPresentation()">
          <mat-icon aria-label="label">add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button class="action-btn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon aria-label="label">more_vertical</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editPresentation(element)">
            <mat-icon color="primary">mode_edit</mat-icon>
            <span>Modificar</span>
          </button>
          <button mat-menu-item (click)="deletePresentation(element)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>
        <!-- <button class="action-btn" mat-icon-button>
          <mat-icon color="accent" aria-label="label">add_shopping_cart</mat-icon>
        </button> -->
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 </div>