<mat-toolbar>
    <span>Unidad</span>
    <span class="spacer"></span>
    <button mat-icon-button  (click) ="onClose('Close')"  >
      <mat-icon color="primary">clear</mat-icon>
    </button>
</mat-toolbar>

<ng-template [ngIf]="data.name == 'Crear' || data.name == 'Modificar'" [ngIfElse]="Eliminar">
  <div>
      <form [formGroup]="fromUnit" class="main-form" (ngSubmit)="onSubmit(data.name)">
        <div class="main-form-field__container">
          <mat-form-field class="field">
            <mat-label>unidad</mat-label>
            <input formControlName="unit_measure"   maxlength="24" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                #nameCategoria matInput placeholder="Categoría"  >
          </mat-form-field>
        </div>
        <div class="main-form-field__container">     
            <mat-form-field>
              <mat-label >Tipo</mat-label>
              <mat-select  #tipo formControlName="kind">
              <mat-option *ngFor="let tipo of tipos"  [value]="tipo.name">
              {{tipo.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

      <mat-error 
        class="main-error__container" 
        style="text-align: center;" 
        color="warn"
        *ngIf="error"
        >
        Estaa unidad ya existe, prueba otro nombre
      </mat-error>
      
      <button *ngIf="data.name === 'Crear'" type="submit" [disabled]="!fromUnit.valid"  mat-raised-button>Agregar</button>
      <button *ngIf="data.name === 'Modificar'" type="submit" [disabled]="!fromUnit.valid"  mat-raised-button>Modificar</button>
    </form>
  </div>
</ng-template>

<ng-template #Eliminar>
    <div class="container-delete">
       <h4 class="container-delete">Estas seguro de Eliminar la Unidad de {{data.obj.unit_measure}}</h4>
       <mat-error 
       class="main-error__container" 
       style="text-align: center;" 
       color="warn"
       *ngIf="error"
       >
      No puede eliminar la unidada por que esta en uso
     </mat-error>
      <button type="submit" (click)="onSubmit(data.name)" mat-raised-button>Aceptar</button>
    </div>
</ng-template>