.spacer {
  flex: 1 auto;
}

mat-toolbar {
  background-color: var(--dark);
  color: #ffffff;
}

.title {
  font-size: 0.875rem;
}

.subtile {
  padding-left: 16px;
  color: white;
}

.main-form {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.main-form button {
  border-radius: 30px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  border: 1px solid white;
}

::ng-deep .mat-form-field-underline {
  position: static !important;
  margin-top: 10px;
}


input[type="color"] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.no-color {
  border: 3px solid grey;
  position: relative;
}

.no-color::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: red;
  transform: rotate(45deg) translate(-8px, 8px);
  transform-origin: 100% 0%;
}