<mat-toolbar class="mat-elevation-z6">
  <span class="title">Modificar Presentacion</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon color="primary" aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="determinate" value=20></mat-progress-bar>

<form class="main-form" [formGroup]="dataPresentationForm">
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Nombre de la presentación:</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="Embase de 700cc"
        required
      />
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.name">
    <ng-container
      *ngIf="
        namePresentation.hasError(errorMessage.type) &&
        (namePresentation.dirty || namePresentation.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Cantidad:</mat-label>
      <input
        type="number"
        matInput
        formControlName="quantity"
        placeholder="65"
        required
      />
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.quantity">
    <ng-container
      *ngIf="
      quantityPresentation.hasError(errorMessage.type) &&
        (quantityPresentation.dirty || quantityPresentation.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Cantidad mínima de stock:</mat-label>
      <input
        type="number"
        matInput
        formControlName="stock_min"
        placeholder="65"
        required
      />
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.stock_min">
    <ng-container
      *ngIf="
      stock_minPresentation.hasError(errorMessage.type) &&
        (stock_minPresentation.dirty || stock_minPresentation.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>
  <button 
    mat-raised-button 
    color="primary" 
    style="color: #ffffff"
    (click)="saveData()"
    [disabled]="!dataPresentationForm.valid"
    >
    Agregar
  </button>
</form>