<mat-toolbar class="mat-elevation-z6">
  <span>Tablero de resumenes</span>
  <span class="spacer"></span>
  <app-month></app-month>
  <app-year></app-year>
  <button
    routerLink="/production-detail" 
    mat-raised-button 
    class="btn-action"
    color="primary" 
    style="color: white;">
    Nueva producción
  </button>
</mat-toolbar>

<div class="container">
  <section class="content">
    <statistical-data></statistical-data>
    <mat-divider vertical></mat-divider>
    <production-data></production-data>
  </section>
  <mat-divider></mat-divider>
  <section class="content">
    <production-summary-data></production-summary-data>
    <mat-divider vertical></mat-divider>
    <raw-material-data></raw-material-data>
  </section>
  <mat-divider></mat-divider>
  <section class="content">
    <sale-data></sale-data>
    <mat-divider vertical></mat-divider>
    <sale-detail-data></sale-detail-data>
  </section>
</div>