.spacer {
  flex: 1 auto;
}

.mat-toolbar {
  background-color: white;
}

.container {
  padding: 20px;
  margin-bottom: 50px;
}

.content {
  width: 100%;
  /* background-color: blanchedalmond; */
  min-height: 330px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
}

.mat-divider {
  border-top-color: var(--primary);
  margin: 16px;
}

.btn-action {
  border-radius: 20px;
}