<mat-toolbar class="mat-elevation-z6">
  <span class="title"> {{ product.name }} </span>
  <span class="subtile">Ingredientes</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="determinate" value=20></mat-progress-bar>

<form class="main-form" [formGroup]="dataArticleForm">
  <p>Los campos con * son obligatorios</p>
  <br/>
  <mat-divider></mat-divider>
  <mat-error
    *ngIf="!dataArticleForm.controls.article.valid"
    >
      Por favor selecciona un insumo de la lista
  </mat-error>
  <div class="main-form-field__container" >
    <mat-form-field >
      <mat-label>Materia prima/Insumo*:</mat-label>

      <input
        matInput
        required
        placeholder="Hojas bond"
        formControlName="article"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async "
          [value]="option"
          (click)="getArticle(option)"
          >
          {{option.name_article}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <small *ngIf="articleSelected">Stock: {{articleSelected.stock}} {{articleSelected.unit_measure}} (s)</small>
  <div *ngFor="let errorMessage of errorsMessages.article">
    <ng-container
      *ngIf="
        articleData.hasError(errorMessage.type) &&
        (articleData.dirty || articleData.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Formula Base</mat-label>
      <input
        type="number"
        matInput
        placeholder="65"
        [readonly]="!articleSelected"
        required
        formControlName="quantity"
        (input)= "getFormulaBase($event)"
      >
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.quantity">
    <ng-container
      *ngIf="
        quantity.hasError(errorMessage.type) &&
        (quantity.dirty || quantity.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Unidad de Medida:</mat-label>
      <input
        type="text"
        matInput
        [readonly]="true"
        [value]="articleMeasure"
        formControlName="unit_measure"
      >
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    style="color: #ffffff;"
    [disabled]="!dataArticleForm.valid"
    (click)="saveData()"
  >Agregar</button>
</form>
