<article class="main-container">
  <h3>Materias Primas/Insumos Mas Utilizadas</h3>
  <br>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="material"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</article>