<mat-toolbar class="mat-elevation-z2">

  <button mat-icon-button routerLink="/entradas" color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <p>Nota de recepción
    <strong *ngIf="inputNote" class="comprobante_id">
      Nº {{ inputNote.receipt }}
    </strong>
  </p>

  <span class="spacer">
  </span>

  <span style="margin-right: 16px;">
  </span>
  <div>
    <button class="main-btn" type="button" mat-raised-button (click)="downloadPDF()">
      <mat-icon>local_printshop</mat-icon>
      Imprimir
    </button>
  </div>
</mat-toolbar>

<mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
<div *ngIf="inputNote" class="main-container">
  <div id="htmlNote" class="container-note">

    <section class="note">
      <div class="note-item">
        <strong>
          NOTA DE RECEPCION
        </strong>
      </div>

      <div class="note-item">
        <strong class="comprobante_id">
          Nº {{ inputNote.receipt }}
        </strong>
      </div>

      <div class="note-item">
        <table class="tbl-sup ">
          <tbody>
            <tr class="celda">
              <th class="celda" colspan="5">Emision</th>
            </tr>
            <tr class="celda">
              <th class="celda" colspan="2">Nº Pedido</th>
              <th class="celda" colspan="2">Fecha de Ingreso</th>
            </tr>
            <tr class="celda">
              <td class="celda">{{ inputNote.order_number }}</td>
              <td class="celda" colspan="2"> {{ (inputNote.created_at | date)  || 'error' }}</td>
            </tr>

          </tbody>
        </table>
      </div>


    </section>
    <div *ngIf="dataSource" class="container">
      <div class="table-container">
        <h4>Proveedor: <span class="provider">{{inputNote.provider | titlecase}}</span></h4>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Cantidad Ingresada </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Unidad</th>
            <td mat-cell *matCellDef="let element"> {{element.unit_measure}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.name_article}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>

          </ng-container>

          <ng-container matColumnDef="cod">
            <th mat-header-cell *matHeaderCellDef> Codigo Material </th>
            <td mat-cell *matCellDef="let element"> {{ element.cod_article || 'Error en obtención de código' }} </td>
            <td mat-footer-cell *matFooterCellDef> </td>

          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Precio Unitario</th>
            <td mat-cell *matCellDef="let element"> {{element.unit_price}} </td>
            <td mat-footer-cell *matFooterCellDef> 
              <strong>Total:</strong> 
            </td>

          </ng-container>

          <ng-container matColumnDef="total_price">
            <th mat-header-cell *matHeaderCellDef> Precio Total </th>
            <td mat-cell *matCellDef="let element"> {{element.unit_price * element.quantity}} </td>
            <td mat-footer-cell *matFooterCellDef> 
              <strong>{{inputNote.total}}</strong> 
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <table class="tbl-fir">
          <tbody>
            <tr class="celda ">
              <th class="celda firma"></th>
              <th class="celda"></th>
              <th class="celda"></th>
            </tr>
            <tr class="celda">
              <td class="celda">Kardex Valorado</td>
              <td class="celda">Provedor Entregue Conforme</td>
              <td class="celda">Almacen Recibi Conforme</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>



  </div>
</div>
