.field {
  width: 100%;
}

.main-form {
  padding: 20px;
  width: 100%;
}

.spacer {
  width: 100%;
}

.btn-close {
  padding: 0 14px;
  border: none;
}

.option-select {
  width: 47%;
}

.option {
  display: flex;
  justify-content: space-between;
}

mat-toolbar {
  background-color: #3A4651;
  color: #ffff;
}

.mat-raised-button {
  border-radius: 20px !important;
  width: 100%;
  color: #FFFFFF;
  background-color: #85CE36;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  border: 1px solid white;
}

::ng-deep .mat-form-field-underline {
  position: static !important;
  margin-top: 10px;
}

.main-error {
  text-align: start;
  color: var(--error);
}

.container-delete {
  padding: 10px 10px;
}