<mat-toolbar>
  <span>{{data.name}} Área</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onClose('close')">
    <mat-icon color="primary">clear</mat-icon>
  </button>
</mat-toolbar>
<ng-template [ngIf]="data.name === 'Crear' || data.name === 'Modificar'" [ngIfElse]="Eliminar">
  <form [formGroup]="fromArea" class="main-form" (ngSubmit)="onSubmit(data.name)">
    <div class="main-form-field__container">
      <mat-form-field class="field">
        <mat-label>Nombre del área</mat-label>
        <input formControlName="name" maxlength="60"
          oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          matInput placeholder="Nombre del área" (input)="inputValidator($event)">
      </mat-form-field>
    </div>
    <mat-error class="main-error__container" style="text-align: center;" color="warn" *ngIf="stateError">
      {{errorMessage}}
    </mat-error>
    <button *ngIf="data.name === 'Crear'" type="submit" [disabled]="!fromArea.valid"  mat-raised-button>Agregar</button>
    <button *ngIf="data.name === 'Modificar'" type="submit" [disabled]="!fromArea.valid"  mat-raised-button>Modificar</button>
  </form>
</ng-template>

<ng-template #Eliminar>
  <div class="container-delete">
    <h4 class="container-delete">Estas seguro de Eliminar el Articulo de </h4>
    <button type="submit" (click)="onClose('close')" mat-raised-button>Aceptar</button>
  </div>
</ng-template>