<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fechas de salida </th>
    <td mat-cell *matCellDef="let element">
      <strong class="date-title">
        {{element.date_of_admission | date}} 
      </strong>
    </td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <!-- Unit Column -->
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unidad de Medida </th>
    <td mat-cell *matCellDef="let element"> {{element.unit_measure}} </td>
  </ng-container>

  <!-- Monitoring Column -->
  <ng-container matColumnDef="control">
    <th mat-header-cell *matHeaderCellDef> Control/Monitoreo </th>
    <td mat-cell *matCellDef="let element">
      <strong class="control-title">
        {{element.control}}
      </strong>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

