<div class="container">
  <mat-toolbar class="mat-elevation-z6">
    <span>Materia prima/Insumos</span>
    <span class="spacer"></span>
    <button color="primary" mat-mini-fab aria-label="icon-add" (click)="addArticle()">
      <mat-icon style="color: white;">add</mat-icon>
    </button>
  </mat-toolbar>

  <div class="main-table__container" >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="article">
        <th mat-header-cell *matHeaderCellDef> Mat.Prima/Insumo </th>
        <td mat-cell *matCellDef="let element">
          <strong>
            {{element.name_article}}
          </strong>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Formula base </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unid. Med. </th>
        <td mat-cell *matCellDef="let element"> {{element.unit_measure}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon aria-label="label">more_vertical</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editArticle(element)">
              <mat-icon color="primary">mode_edit</mat-icon>
              <span>Modificar</span>
            </button>
            <button mat-menu-item (click)="deleteArticle(element)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
    
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  
</div>