.spacer {
  flex: 1 auto;
}

.container {
  padding: 16px;
}

.mat-toolbar {
  background-color: white;
}

table {
  width: 100%;
}

.main-table__container {
  width: 100%;
  max-height: 340px;
  overflow-y: auto;
  margin-top: 10px;
  overflow-x: hidden;
}

.mat-column-action {
  max-width: 35px;
}

strong {
  color: var(--primary);
}

.main-table__container::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  /* display: none;  Ocultar scroll */
}

.main-table__container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.main-table__container::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.main-table__container::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.main-table__container::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.main-table__container::-webkit-scrollbar-track:hover,
.main-table__container::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
