mat-grid-tile {
  background-color: white;
  box-shadow: 0px 4px 9px rgba(178, 178, 178, 0.25);
}

.inline-calendar-card {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.custom-date-class {
  background: var(--primary);
  border-radius: 100%;
  color: white;
}

.custom-date-class .mat-calendar-body-today {
  border: none;
  color: white;
}

.second-date-class {
  border-radius: 50%;
}

.main-work__progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btnTxt{
  color: var(--primary);
  cursor: pointer;
  margin-top: 1rem;

}

.inputQuantity{
  border: 0;
}

.tooltip-red {
  background: #b71c1c;
}

.tooltip-success{
  background: var(--primary);
}

.emptyProduccionImg{
  width: 50%;
  height: 60%;
  margin-bottom: 20px;
  opacity: 0.5;
}

.second-date-class .mat-calendar-body-cell-content {
  border: 1px solid var(--primary);
  border-radius: 50%;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 500px;
}

.product-toolbar {
  background-color: var(--dark);
  color: var(--primary);
}

.container {
  width: 100%;
  padding: 16px;
  overflow-x: hidden;
}

.production-toolbar {
  background-color: white !important;
  border-bottom: 1px solid var(--primary);
}

.main-container__raw-material {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.title-raw {
  font-size: 0.875rem;
}

.title-day {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 42px;
}


.main-content__card {
  width: 100%;
  overflow: auto;
  padding: 10px;
}

.raw-material_card {
  width: 100%;
  min-height: 75px;
  max-height: 90px;
  overflow: auto;
  margin-bottom: 16px;
  display: flex !important;
  justify-content: space-between;
}

.info-content {
  display: flex;
  flex-direction: column;
}

.box-color {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
}

.info-content span {
  font-size: 0.875rem;
}

.required {
  justify-content: flex-end;
  align-items: flex-end;
}

.total-info {
  margin-top: 10px;
  opacity: 0.6;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.verify-quantity{
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
}

.code-info {
  color: var(--primary);
}

.main-container {
  width: 100%;
  display: flex;
}

.main-container__production__card, .main-content__table {
  min-width: 50%;
  flex-grow: 1;
}

.main-container__production__card {
  border-right: 1px solid var(--primary);
}

table {
  width: 100%
}

.btn-action {
  float: right;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
  transition: 0.3s;
}

.product-card {
  border-right: 4px solid var(--primary);
}
.main-form {
  display: flex;
  align-items: center;
}
.main-form-field__search {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.main-input {
  flex-grow: 1;
}

.main-form-field__search input {
  width: 100%;
  border: none;
  height: 100%;
}
.action-btn__add {
  background-color: var(--primary);
  border-radius: 32px;
  color: white;
}
.action-btn__search {
  margin-left: 16px;
  width: 100px;
  max-height: 44px;
}
