<mat-grid-list cols="12" gutterSize="12">
  <!-- Main calendar -->
  <mat-grid-tile 
    [colspan]="breackPointCalendarCols" 
    [rowspan]="breackPointCalendarRows"
    (window:resize)="onResize($event)"
  >
    <mat-card class="inline-calendar-card" *ngIf="dateProductions">
      <mat-calendar #calendar [dateClass]="dateClass()"  (selectedChange)="dateChange($event)"></mat-calendar>
    </mat-card>
  </mat-grid-tile>

  <!-- Main production-->
  <mat-grid-tile 
    [colspan]="breackPointMainCols" 
    [rowspan]="breackPointMainRows"
    (window:resize)="onResize($event)"
  >
    <mat-sidenav-container fullscreen >
      <mat-sidenav #sidenav class="mat-elevation-z4 sidenav" mode="over" position="end">
        <mat-toolbar class="mat-elevation-z6 product-toolbar">
          <span>Productos</span>
          <span class="spacer"></span>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon aria-label="label">close</mat-icon>
          </button>
        </mat-toolbar>


        <div class="main-content__card" *ngIf="canRender">
          <mat-card class="raw-material_card" *ngFor="let item of allProductsData; let i = index">
            <div style="display: flex;">
              <img [src]="item.product.image" alt="">
              <div class="info-content">
                <span>{{ item.product.name }}</span>
                <span class="code-info">{{ item.product.code }}</span>
              </div>
            </div>
            <mat-checkbox
              color="primary"
              [checked]="item.checked"
              (change)="showOptions($event,item,i)"
            ></mat-checkbox>
          </mat-card>
        </div>
      </mat-sidenav>
      <section class="container">
        <mat-toolbar color="primary" class="production-toolbar">
          <span class="title-day"> {{ formatDate | date:'MMMM' | titlecase }} {{ formatDate |date:'d' }}, {{ formatDate | date:'YYYY' }}</span>
          <span class="spacer"></span>
          <button mat-mini-fab color="primary" *ngIf="isToday"  (click)="sidenav.toggle()">
            <mat-icon style="color: white;" aria-label="label">inventory</mat-icon>
          </button>
        </mat-toolbar>
        <br>
        <section class="main-container" *ngIf="productsSelectedData.length>0; else showEmptyImg">

          <div class="main-content__card main-container__production__card">
            <mat-card
              #card
              tabindex="0"
              class="raw-material_card {{item.focus ? 'product-card': '' }}"
              (click)="changeProductSelected(item)"
              role="button"
              *ngFor="let item of productsSelectedData; let i = index;"
            >
              <div style="display: flex;" >
                <img [src]="item.product.image" alt="">
                <div class="info-content">
                  <span>{{ item.product.name }}</span>
                  <span class="code-info">{{ item.product.code }}</span>
                  <div *ngIf="item.isToday; else showLabelInput">
                    <input
                      class="inputQuantity"
                      type="number"
                      matInput
                      #quantity
                      placeholder="Agregue cantidad"
                      [value]="item.quantity"
                      (keyup.enter)="onEnter(quantity.value)"
                      (keyup)="item.canProduce=false"
                      [matTooltip]="item.canProduce?'Puede realizar produccion':'Presione <enter> para verificar la cantidad'"
                      [matTooltipClass]="item.canProduce ? 'tooltip-success':'tooltip-red'"
                      matTooltipPosition="above"
                    />
                  </div>
                  <ng-template #showLabelInput>
                    <span>Cantidad producida: <strong>{{item.quantity}}</strong></span>
                  </ng-template>
                </div>
              </div>
              <div >
                <button mat-icon-button color="warn" *ngIf="!item.produced" (click)="deleteProduct(item,i)" >
                  <mat-icon class="material-icons-outlined" aria-label="label" >delete</mat-icon>
                </button>
                <button
                  mat-icon-button color="primary"
                  *ngIf="item.isToday"
                  (click)="item.produced ? updateProduction(item):creatProduction(item)"
                  [disabled]="!item.canProduce"
                >
                  <span class="material-icons">check_circle</span>
                </button>
              </div>
            </mat-card>
          </div>
          <div class="main-content__table">
            <table mat-table [dataSource]="dataSource">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- unit Column -->
              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef> Presentación </th>
                <td mat-cell *matCellDef="let element">
                  <span class="code-info">
                    {{element.unit.name}}
                  </span>
                </td>
              </ng-container>

              <!-- quantity Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              </ng-container>

              <ng-container matColumnDef="price_production">
                <th mat-header-cell *matHeaderCellDef> Precio de Produccion </th>
                <td mat-cell *matCellDef="let element"> {{element.unit_cost_production}} </td>
              </ng-container>

              <ng-container matColumnDef="price_sale">
                <th mat-header-cell *matHeaderCellDef> Precio de Venta </th>
                <td mat-cell *matCellDef="let element"> {{element.unit_price_sale}} </td>
              </ng-container>

              <!-- action Column -->
              <ng-container matColumnDef="action" >
                <th mat-header-cell *matHeaderCellDef>
                  <button class="btn-action" mat-icon-button color="primary" (click)="addUnit()" *ngIf="productSelected.isToday">
                    <mat-icon aria-label="label">add</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn-action" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon aria-label="label">more_vertical</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" >
                    <button mat-menu-item (click)="editUnit(element)" [disabled]="!productSelected.isToday">
                      <mat-icon color="primary">mode_edit</mat-icon>
                      <span>Modificar</span>
                    </button>
                    <button mat-menu-item (click)="deleteUnit(element)" [disabled]="!productSelected.isToday">
                      <mat-icon color="warn">delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>
        </section>
      </section>
      <ng-template #showEmptyImg>
        <div class="main-work__progress">
          <img src="assets/svg/empty-production.svg" class="emptyProduccionImg" alt="page-not-found">
          <h2 *ngIf="!this.daySelectedWithProductions">No existe una produccion en el dia</h2>
          <br>
          <button 
            mat-raised-button 
            color="primary" 
            style="color: white; border-radius: 20px;" 
            *ngIf="allProductsData.length!=0" 
            (click)="sidenav.toggle()">
            Comenzar produccion
          </button>
        </div>
      </ng-template>
    </mat-sidenav-container>
  </mat-grid-tile>

  <!-- Main row material -->
  <mat-grid-tile 
    [colspan]="breackPointMaterialCols" 
    [rowspan]="breackPointMaterialRows"
    (window:resize)="onResize($event)"
    >
    <section class="main-container__raw-material">
      <mat-toolbar color="primary" class="production-toolbar">
        <span class="title-raw">Materia Prima/Insumo requerido</span>
      </mat-toolbar>
      <div class="main-content__card">
        <mat-card class="raw-material_card" *ngFor="let item of productMaterials">
          <div style="display: flex;">
            <div
              class="box-color"
              [ngStyle]="{'background-color': color}"
            >
            </div>
            <div class="info-content">
              <span>{{ item.nombre }}</span>
              <span *ngIf="productSelected.canProduce" class="total-info">Total: {{ item.stock_almacen }}</span>
            </div>
          </div>
          <div class="info-content required">
            <span *ngIf="item.hasOwnProperty('stock_almacen'); else showAnother">
              <strong
                [ngStyle]="{ 'color': calculateColor(item.stock_requerid, item.stock_almacen) }"
              >
                Req: {{ item.stock_requerid }}
              </strong>
            </span>
            <ng-template #showAnother>
              <span >
              <strong
                [ngStyle]="{ 'color': calculateColor(item.stock_requerid, item.stock_almacen) }"
              >
                Utilizada: {{ item.stock_requerid }}
              </strong>
            </span>
            </ng-template>

            <button mat-icon-button color="accent" (click)="addToCart(item)">
              <mat-icon aria-label="label">add_shopping_cart</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </section>
  </mat-grid-tile>
</mat-grid-list>
