<mat-toolbar>
    <span>
      <span  style="color: var(--primary);">
       {{dialogRef.id}} |
      </span>
       Unidad/Presentacion</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="onClosed()" color="primary" >
      <mat-icon >clear</mat-icon>
    </button>
</mat-toolbar>

<ng-template [ngIf]="data.name === 'Crear' || data.name === 'Modificar'" >
  <form [formGroup]="formUnit" class="main-form" (ngSubmit)="onSubmit()">
    <span>
      <strong>Los campos con* son obligatorios</strong>
    </span>
     <hr>



    <div class="main-form-field__container main-option__form-field__field__left">
      <mat-form-field>
        <mat-label>Unidad/presentacion *</mat-label>
        <mat-select   formControlName="presentation"
         [compareWith]="compareCategoryObjects"
         >
          <mat-option *ngFor="let option of options" [value]="option"
          (click)="getUnit(option)">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="main-form-field__container">
      <mat-form-field class="field">
        <mat-label>Costo Unitario de Produccion *</mat-label>
        <input formControlName="unit_cost_production" maxlength="60"
          type="number" min="0"
          matInput placeholder="Costo Unitario" >
      </mat-form-field>
    </div>
    <div class="main-form-field__container">
      <mat-form-field class="field">
        <mat-label>Precio Unitario de Venta *</mat-label>
        <input  formControlName="unit_price_sale" maxlength="60"
          type="number" min="0"
          matInput placeholder="Precio Unitario">
      </mat-form-field>
    </div>
    <mat-error class="main-error__container" style="text-align: center;" color="warn">

    </mat-error>
    <button [disabled]="!formUnit.valid"  *ngIf="data.name === 'Crear'" type="submit"  mat-raised-button>Agregar</button>
    <button [disabled]="!formUnit.valid"  *ngIf="data.name === 'Modificar'" type="submit"  mat-raised-button>Modificar</button>
  </form>
</ng-template>
