<div class="container">
  <mat-toolbar class="mat-elevation-z6">
    <span>Unidades/Presentación</span>
    <span class="spacer"></span>
    <button
      color="primary"
      mat-mini-fab
      aria-label="icon-add"
      (click)="addPresentation()"
    >
      <mat-icon style="color: white">add</mat-icon>
    </button>
  </mat-toolbar>
  <div class="main-table__container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="presentation">
        <th mat-header-cell *matHeaderCellDef>Uni./Prest.</th>
        <td mat-cell *matCellDef="let element">
          <strong>
            {{ element.name }}
          </strong>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="unit_cost">
        <th mat-header-cell *matHeaderCellDef>Costo Uni. Produc.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.unit_cost_production | currency: "Bs. " }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="unit_sale">
        <th mat-header-cell *matHeaderCellDef>Precio Uni. Venta</th>
        <td mat-cell *matCellDef="let element">
          {{ element.unit_price_sale | currency: "Bs. " }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon aria-label="label">more_vertical</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editPresentation(element)">
              <mat-icon color="primary">mode_edit</mat-icon>
              <span>Modificar</span>
            </button>
            <button
              mat-menu-item
              (click)="deletePresentation(element)"
            >
              <mat-icon color="warn">delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
