.mat-toolbar 
{
  background-color: white;
}

.main-btn 
{
  background-color: var(--primary);
  border-radius: 36px;
  color: white;
}

.tbl-container
{
  width: 100%;
  margin-top: 15px;
  padding: 0px 20px;
  overflow: auto;
}

.tolbar-title-arti{
  font-size: 3.5vw;
}

.spacer 
{
  flex: 1 1 auto;
}

.calendar-space{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  border: 1px solid white;
}

::ng-deep .mat-form-field-underline {
  position: static !important;
  margin-top: 10px;
}

.main-form
{
  padding: 20px;
  width: 100%;
}


.spinner {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}


.tbls-kardex{
  z-index:2;
}

.kardex{
  z-index: -1000;
}