<mat-toolbar  class="mat-elevation-z2">
 
    <button mat-icon-button  routerLink="/articulo" color="primary" >
      <mat-icon>arrow_back</mat-icon>
    </button>

    

    <span *ngIf="(article$ | async) as articles">
      <span *ngIf="!(isHandset$ | async)" >{{articles.category.name_article}} | Total {{articles.category.stock}} {{articles.category.unit_measure}} </span>
    </span>
  
    <span class="spacer"></span>

    <div style="display: flex; flex-wrap: nowrap;">
      <app-month  (emitterMonthEvent)="filterDate($event, 'month')"></app-month>
      <app-month (emitterMonthEvent)="filterDate($event, 'monthTwo')" ></app-month>
      <app-year  (emitterYearEvent)="filterDate($event, 'year')"></app-year>
    </div>

    <span style="margin-right: 16px;"></span>
    <div>
      <button class="main-btn" type="button" mat-raised-button (click)="downloadPDF()" >
        <mat-icon>picture_as_pdf</mat-icon>
        Kardex
      </button>
    </div>

</mat-toolbar>

<mat-toolbar class="mat-elevation-z2" *ngIf="(isHandset$ | async)">
  <span *ngIf="(article$ | async) as articles">
    <p class="tolbar-title-arti">{{articles.category.name_article}} | Total {{articles.category.stock}} {{articles.category.unit_measure}} </p>
  </span>
</mat-toolbar>

<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>

<mat-tab-group  [selectedIndex]="selectedIndex" class="tbls-kardex" mat-stretch-tabs (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Entradas" >  
   <div  class="tbl-container">
    <app-tbl-entry-article id="entrytbl"  #tblentry ></app-tbl-entry-article>
   </div> 
  </mat-tab>
  <mat-tab label="Salidas" > 
    <div class="tbl-container">
     <app-tblouput id="outputtbl" #tblouput  ></app-tblouput>
     </div> 
  </mat-tab>
  <mat-tab label="Saldos">
    <div class="tbl-container">
      <app-tblsaldos id="kardex" #tblsaldo  [dtSaldo]="dtSaldo" ></app-tblsaldos>
     </div> 
  </mat-tab>
</mat-tab-group>

<div *ngIf="stateDownload" class="spinner">
  <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>