<mat-toolbar class="mat-elevation-z2">

  <button mat-icon-button routerLink="/salidas" color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <p>Nota de entrega
    <strong *ngIf="outNote" class="comprobante_id">
      Nº {{ outNote.receipt }}
    </strong>
  </p>

  <span class="spacer"></span>


  <span style="margin-right: 16px;"></span>
  <div>
    <button class="main-btn" type="button" mat-raised-button (click)="downloadPDF()">
      <mat-icon>local_printshop</mat-icon>
      Imprimir
    </button>
  </div>
</mat-toolbar>
<div id="htmlNote" class="container-note">

  <section *ngIf="outNote" class="note">
    <div class="note-item">
      <strong>
        NOTA DE ENTREGA
      </strong>
    </div>

    <div class="note-item">
      <strong class="comprobante_id">
        Nº {{ outNote.receipt }}
      </strong>
    </div>

    <div class="note-item">
      <table class="tbl-sup ">
        <tbody>
          <tr class="celda">
            <th class="celda" colspan="5">Emision</th>
          </tr>
          <tr class="celda">
            <th class="celda" colspan="2">Nº Pedido</th>
            <th class="celda" colspan="2">Fecha de Ingreso</th>
          </tr>
          <tr class="celda">
            <td class="celda">{{ outNote.order_number }}</td>
            <td class="celda" colspan="2"> {{ (outNote.created_at | date)  || '21 Ago, 2021 ' }}</td>
          </tr>

        </tbody>
      </table>
    </div>


  </section>
  <div *ngIf="dataSource" class="container">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="quatity">
          <th mat-header-cell *matHeaderCellDef> Cantidad Entregada </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>

        </ng-container>
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef> Unidad</th>
          <td mat-cell *matCellDef="let element"> {{element.unit_measure}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.name_article}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="code_article">
          <th mat-header-cell *matHeaderCellDef> Codigo Material </th>
          <td mat-cell *matCellDef="let element"> {{element.cod_article || 'Error'}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef> Partida Presupuesto</th>
          <td mat-cell *matCellDef="let element"> {{element.budget_output || 'Error'}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="unit_price">
          <th mat-header-cell *matHeaderCellDef> Precio Unitario</th>
          <td mat-cell *matCellDef="let element"> {{(element.total/element.quantity) || 'Error'}} </td>
          <td mat-footer-cell *matFooterCellDef> 
            <strong>Total:</strong>
          </td>
        </ng-container>
        <ng-container matColumnDef="total_price">
          <th mat-header-cell *matHeaderCellDef> Precio Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total || 'Error'}} </td>
          <td mat-footer-cell *matFooterCellDef>
            <strong *ngIf="outNote">
              {{outNote.total}}
            </strong>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>

      <table class="tbl-fir">
        <tbody>
          <tr class="celda ">
            <th class="celda firma"></th>
            <th class="celda"></th>
            <th class="celda"></th>
          </tr>
          <tr class="celda">
            <td class="celda">Kardex Valorado</td>
            <td class="celda">Almacenes Entregue Conforme</td>
            <td class="celda">Interesado Recibi Conforme</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>

  
<div *ngIf="stateDownload" class="spinner">
  <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>

</div>