.comprobante_id {
  color: #F85D5D;
}

.mat-toolbar {
  background-color: white;
}

.tbl-sup {
  background: white;
  border-collapse: collapse;
  text-align: center;
}

.tbl-fir {
  background: white;
  border-collapse: collapse;
  text-align: center;
  margin-top: 18px;
}

.celda {
  border: rgb(224, 224, 224) 1px solid;
  padding: 0.3em;
}

table {
  width: 100%;

}


.container-note {
  height: 100%;
  width: 100%
}

.note {
  display: flex;
  justify-content: space-around;
  padding: 18px;

}

.note-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-item strong {
  font-size: 1.5rem;
}

.firma {
  height: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.main-btn {
  background-color: var(--primary);
  border-radius: 36px;
  color: white;
}

.tbl-container {
  width: 100%;
  margin-top: 15px;
  padding: 0px 20px;
  overflow: auto;
}


.tbl-sup tbody tr {
  padding: 10px 16px 10px 16px;
}


table {
  width: 100%;
  margin-top: 15px;
  overflow-x: auto !important;
}

.full-width-table {
  width: 100%;
  margin-top: 15px;
  overflow-x: auto !important;
}

.container {
  width: 100%;
  margin-top: 15px;
  padding: 0px 20px;
  overflow: auto;
}

.tbl-sup tbody tr {
  padding: 10px 16px 10px 16px;
}


.spinner {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}