<mat-card>
  <div class="main-card__header">
    <span class="main-card_title">Nota de recepción</span>
    <span class="main-card-receipt">{{ incomeNote.receipt }}</span>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content [routerLink]="'detalle-nota/' + incomeNote.id">
    <p>Fecha de ingreso: {{ incomeNote.created_at | date }}</p>
    <p>Proveedor: {{ incomeNote.provider || 'No asignado' | titlecase}} </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <span class="main-card_title text-action">Total: <strong>{{ incomeNote.total | currency:'Bs. ' }}</strong></span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editNote()">
        <mat-icon color="primary">mode_edit</mat-icon>
        <span>Modificar</span>
      </button>
      <button mat-menu-item (click)="deleteNote()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>