.mat-toolbar {
    background-color: white;
  }
  
  .spacer {
    flex: 1 auto;
  }
  
  .main-form__container {
    width: 50%;
  }
  
  .action-btn__next {
    border-radius: 32px;
    background-color: var(--primary);
    color: white;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
  }
  
  
  
  .main-form__title {
    line-height: 16px;
    font-size: 0.865rem;
  }

  .container-img{
      width: 50%;
      padding: 5px 25px;
      display: flex; 
      justify-content: center
  }

  .card-navbar-title{
      display: flex;
      justify-content: space-between;
      padding: 0px 10px;
      align-items: center;
  }

  .card-generate{
      width: 75% !important;

  }
  
  .input-file {
    border: 10000px solid transparent;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
   }

   .conten-input{
  
    cursor: pointer;
    
    font-weight: bold;
   
    overflow: hidden;
    
    position: relative;
    text-align: center;
   
    
   }

   .img-card{
     height:  250px;
   }


   .form-data{
  
   }

  @media only screen and (max-width: 768px) and (min-width: 480px){
    figure {
      display: block;
      width: 50%;
      padding: 20px;
    }
  
    .main-form__container {
      width: 50%;
    }
  
    figure img {
       width: 100%;
    }
  
    .main-form__title {
      font-size: 1rem;
    }

   
  }

  @media only screen and (max-width: 480px) and (min-width: 0px)  {
    figure {
      display: block;
      width: 50%;
      padding: 20px;
    }
  
    .main-form__container {
      width: 50%;
    }
  
    figure img {
       width: 100%;
    }
  
    .main-form__title {
      font-size: 1rem;
    }

    .main-container {
      display: flex;
      flex-direction: column;
    }

   
  }


