<section class="main-container">
  <div class="main-form__container">
    <mat-toolbar>
      <span><strong class="main-form__title">Datos con * son importantes</strong></span>
    </mat-toolbar>
    <form class="form-data"[formGroup]="formData">
     
        <div class="main-form-field__container">
          <mat-form-field>
            <mat-label>Nombre del Producto:*</mat-label>
            <input   formControlName="name" (ngModel)="name" matInput placeholder="Nombre del Producto" required>
          </mat-form-field>
        </div>
        <div class="main-form-field__container">
          <mat-form-field>
            <mat-label>Codigo de Producto:*</mat-label>
            <input  formControlName="codigo" matInput type="text" placeholder="Codigo de Producto:">
          </mat-form-field>
        </div>
        <div class="main-form-field__container">
          <mat-form-field>
            <mat-label>Descripcion:</mat-label>
            <textarea formControlName="description"  matInput placeholder="Descripcion:">
  
                    </textarea>
          </mat-form-field>
        </div>
        <mat-toolbar>
          <span class="spacer"></span>
          <button (click)="onSubmmit()" [disabled]="!formData.valid" mat-raised-button class="action-btn__next" matStepperNext>
            Siguiente
          </button>
        </mat-toolbar>

     
     
    </form>
    
  </div>

  <div class="container-img">
    <mat-card class="example-card card-generate">
    <figure class="img-card">
      <img class="img-card" mat-card-image [src]="url">
    </figure>
      <mat-card-actions>
        <mat-error *ngIf="error">{{msg}}</mat-error>
        <div class="card-navbar-title">
          <span style="height: 20px">
            {{this.formData.get('name')?.value}}
          </span>
          <h5>
             {{this.formData.get('codigo')?.value}}
          </h5>
        </div>

        <div class="card-navbar-title">
          <a matLine>Cantiddads</a>
          <button mat-icon-button class="conten-input">
            <input  type="file" (change)="onselectFile($event)" class="input-file">
            <mat-icon color="primary">cloud_upload</mat-icon>
          </button>
        </div>

      </mat-card-actions>
    </mat-card>

  </div>
</section>