<mat-toolbar class="mat-elevation-z6">
  <span>Lista de notas de recepción</span>
  <span class="spacer"></span>
  <div style="display: flex; flex-wrap: nowrap;">
    <app-month (emitterMonthEvent)="filterDate($event, 'month')"></app-month>
    <app-year (emitterYearEvent)="filterDate($event, 'year')"></app-year>
  </div>
  <button 
    *ngIf="(isHandset$ | async) === false" 
    mat-raised-button 
    class="action-btn__add" 
    routerLink="crear-nota">
    <mat-icon aria-hidden="false" aria-label="icono de añadir">add</mat-icon>
    Nota de recepción
  </button>
</mat-toolbar>
<button 
  *ngIf="(isHandset$ | async) === true" 
  class="action-btn__add-mobile" 
  mat-fab aria-label="btn mobile" 
  routerLink="crear-nota">
  <mat-icon>add</mat-icon>
</button>

<br/>

<main class="main">
  <form class="main-form" [formGroup]="searchControl">
    <div class="main-form-field__search">
      <div class="main-input">
        <input type="number" maxlength="10" matInput placeholder="Encuentra tu nota de recepción" formControlName="search">
        <div class="main-error" *ngFor="let errorMessage of errorsMessages.search">
          <ng-container *ngIf="search.hasError(errorMessage.type) && (search.dirty || search.touched)">
            <mat-error>{{errorMessage.message}}</mat-error>
          </ng-container>
        </div>
      </div>
      <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
    </div>
    <button class="action-btn__add action-btn__search" (click)="searchNote()" mat-raised-button>Buscar</button>
  </form>
  <br>
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  
  <div *ngIf="emptyState">
    <app-empty-state [emptyData]="emptyData" (btnNewEmitter)="addNewArticle($event)"></app-empty-state>
  </div>
  
  <section *ngIf="dataState" class="main-card-notes">
    <div class="main-card__info" *ngFor="let item of dataSource.data">
      <app-data-list-note [incomeNote]="item" (emitNoteEventUpdate)="getIncomeNotes()"></app-data-list-note>
    </div>
  </section>
  <br>

  <mat-paginator
    #paginator
    *ngIf="dataSource"
    [length]="dataSource.total"
    [pageSize]="dataSource.per_page"
    [pageSizeOptions]="[12]"
    showFirstLastButtons="true"
    (page)="pageEvent = $event; onPaginatorChanges($event)">
  </mat-paginator>
</main>
