<mat-toolbar class="mat-elevation-z6 toolbar-header">
  <span>Cuador consolidado economico</span>
  <span class="spacer"></span>
  <button mat-button color="primary">
    Kardex Consolidado pdf
    <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="decargar pdf">cloud_download</mat-icon>
  </button>
</mat-toolbar>
<section class="container">
  <h1 class="title">cuadro economico consolidado</h1>
  <div class="main-list__container">
    <mat-list class="main-list" role="list">
      <mat-list-item role="listitem">
        Periodo: {{ dateLabel | date: 'MMMM' | titlecase}} / {{ dateLabel | date: 'YYYY'}}
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Fecha Inicio:</span>
            <input matInput [matDatepicker]="picker" (dateChange)="dateChanged(1,$event)" [formControl]="startDate">
            <mat-datepicker
              #picker
              disabled="false"
              startView="multi-year"
              panelClass="example-month-picker">
              ></mat-datepicker>
          </div>
          <button mat-icon-button color="primary" (click)="picker.open()">
            <mat-icon class="material-icons-outlined" aria-label="label">calendar_today</mat-icon>
          </button>
        </div>

      </mat-list-item>

      <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div class="date-info">
            <div style="display: flex;">
              <span class="text-label">Fecha Fin:</span>
              <input matInput [matDatepicker]="secondPicker" (dateChange)="dateChanged(2,$event)" [formControl]="endDate">
              <mat-datepicker
                #secondPicker
                disabled="false"
                startView="multi-year"
                panelClass="example-month-picker">
                ></mat-datepicker>
            </div>
            <button mat-icon-button color="primary" (click)="secondPicker.open()">
              <mat-icon class="material-icons-outlined" aria-label="label">calendar_today</mat-icon>
            </button>
          </div>
        </mat-list-item>
    </mat-list>
    <mat-list class="main-list" role="list">
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Cuadro N°:  </span>
            <span class="form-data" *ngIf="!isBoxClicked"> {{boxForm.value}} </span>
            <input
              class="form-data"
              matInput
              appAutofocus
              *ngIf="isBoxClicked"
              [formControl]="boxForm"
              (focusout)="isBoxClicked = false"
             >
          </div>
          <button mat-icon-button color="primary" (click)="isClicked('box')">
            <mat-icon class="material-icons-outlined" aria-label="label">edit</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Código:  </span>
            <span class="form-data" *ngIf="!isCodeClicked"> {{codeForm.value}} </span>
            <input
              class="form-data"
              matInput
              appAutofocus
              *ngIf="isCodeClicked"
              [formControl]="codeForm"
              (focusout)="isCodeClicked = false"
             >
          </div>
          <button mat-icon-button color="primary" (click)="isClicked('code')">
            <mat-icon class="material-icons-outlined" aria-label="label">edit</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>

    </mat-list>
  </div>
  <div class="main-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- nro Column -->
      <ng-container matColumnDef="nro">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
      </ng-container>

      <!-- code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{element.Codigo}} </td>
      </ng-container>

      <!-- product Column -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Producto </th>
        <td mat-cell *matCellDef="let element"> {{element.Producto}} </td>
      </ng-container>


      <!-- unit Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unidad/Presentación </th>
        <td mat-cell *matCellDef="let element"> {{element.Unidad_Presentacion}} </td>
      </ng-container>

      <!-- cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Costo Unitario de Producción Bs. </th>
        <td mat-cell *matCellDef="let element"> {{element.Costo_Unitario_Produccion}} </td>
      </ng-container>


      <!-- sale Column -->
      <ng-container matColumnDef="sale">
        <th mat-header-cell *matHeaderCellDef> Precio Unitario de Venta Bs. </th>
        <td mat-cell *matCellDef="let element"> {{element.Precio_Unitario_Venta}} </td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Unidades_Producidas}} </td>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.Importe}} </td>
      </ng-container>

      <!-- second_quantity Column -->
      <ng-container matColumnDef="second_quantity">
        <th class="total-products__faulty-header" mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Cantidad_unidades_daniadas}} </td>
      </ng-container>

      <!-- second_amount Column -->
      <ng-container matColumnDef="second_amount">
        <th class="total-products__faulty-header" mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.Importe_unidades_daniadas}} </td>
      </ng-container>

      <!-- third_quantity Column -->
      <ng-container matColumnDef="third_quantity">
        <th class="total-effectively__header" mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Cantidad_unidades_vendidas}} </td>
      </ng-container>

      <!-- third_amount Column -->
      <ng-container matColumnDef="third_amount">
        <th class="total-effectively__header" mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.Importe_unidades_vendidas}} </td>
      </ng-container>

      <!-- utility Column -->
      <ng-container matColumnDef="utility">
        <th mat-header-cell *matHeaderCellDef> Total Utilidad BS </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Utilidad}} </td>
      </ng-container>

      <ng-container matColumnDef="header-row-first-group">
        <th
          mat-header-cell
          *matHeaderCellDef
          [style.text-align]="'center'"
          [attr.colspan]="6">
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-second-group">
        <th
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="2">
          <div>
            Unidades Producidas
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-third-group">
        <th
          class="total-products__faulty-header"
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="2">
          <div>
            Total Productos Defectuosos/Bajas
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-quarter-group">
        <th
          class="total-effectively__header"
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="2">
          <div>
            Unidades Vendidas
          </div>
        </th>
      </ng-container>
      <ng-container matColumnDef="header-row-fift-group">
        <th
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="2">
          <div>
          </div>
        </th>
      </ng-container>

      <tr
        class="header-row"
        mat-header-row
        *matHeaderRowDef="
          [
            'header-row-first-group',
            'header-row-second-group',
            'header-row-third-group',
            'header-row-quarter-group',
            'header-row-fift-group',
          ]">
      </tr>

      <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; index as i"
        [ngStyle]="{'background-color': calculateBackground(i)}"
      ></tr>
    </table>
  </div>
</section>
