<mat-progress-bar   *ngIf="state" mode="query" ></mat-progress-bar>

<div  *ngIf="dataState" id="htmlNote" class="container">
  <section class="title-container">
    <h1>pedido de materiales</h1>
    <div style="display: flex;">
      <h2  >Nro {{order.receipt}}</h2>
    </div>
    <table class="table-content">
      <tr>
        <th class="celda title-celda" colspan="8">Emisión</th>
      </tr>
      <tr class="celda">
        <th class="celda" colspan="2">Nro</th>
        <th class="celda" colspan="2">Dia</th>
        <th class="celda" colspan="2">Mes</th>
        <th class="celda" colspan="2">Año</th>
        <th>
      </tr>
      <tr class="celda">
        <td class="celda" colspan="2">
          <span >
            {{order.order_number}}
          </span>
        </td>
        <td class="celda" colspan="2">
          <span>
            {{order.order_date | date:'d' }}
          </span>
        </td>
        <td class="celda" colspan="2">
          <span>
            {{order.order_date |date:'M'}}
          </span>
        </td>
        <td class="celda" colspan="2">
          <span>
            {{order.order_date |date:'y'}}
          </span>
        </td>
      </tr>
    </table>
  </section>
  <br>
  <mat-divider></mat-divider>
  <br>

  <section>
    <div class="main-area">
      <span>
        Unidad Solicitante:
      </span>
      <div style="color: var(--primary);">
        {{order.section_name}}
      </div>
    </div>

    
    <div  [formGroup]="orderForm"> 
    
      <table  mat-table [dataSource]="dataSource" class="main-table">

        <!-- check Column -->
      <div formArrayName="details">
        <ng-container *ngIf="order.status === 'pending'" matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; index as i">
            <mat-checkbox  #checkBox  color="primary" [formControlName]="i"   [value]="element"  (change)="onChange(element,$event.checked)">
  
            </mat-checkbox>
          </td>
        </ng-container>
      </div> 
  
        <!-- quantity Column -->
      <div >                     
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Cantidad Solicitada </th>
          <td mat-cell *matCellDef="let element">
            <strong style="color: var(--primary);">
              {{element.quantity_order}}
            </strong>
          </td>
        </ng-container>
      </div>

        <!-- quantity Column -->
        <ng-container matColumnDef="quantity_production">
          <th mat-header-cell *matHeaderCellDef> Cantidad actual de la unidad solicitante </th>
          <td mat-cell *matCellDef="let element">
            <strong style="color: var(--primary);">
              {{element.quantity_article}}
            </strong>
          </td>
        </ng-container>
  
        <!-- quantity_area Column -->
     
        <ng-container matColumnDef="quantity_approved">
          <th mat-header-cell *matHeaderCellDef> Cantidad Aprobada </th>
          <td mat-cell *matCellDef="let element,index as i">
            <input *ngIf="order.status === 'pending'"  [disabled]="!(this.details.at(i).value)"   class="input-focus" type="number" >
            <input   *ngIf="(order.status !== 'pending')"  [readonly]="(order.status !== 'pending')"  class="input-focus" type="number" >
  
          </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef> Unidad de medida </th>
          <td mat-cell *matCellDef="let element">
            {{element.unit_measure }}
          </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef> Detalle </th>
          <td mat-cell *matCellDef="let element">
            {{element.name_article }}
          </td>
        </ng-container>
  
        <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div> 
     <div [formGroup]="observationFrom"> 
      <mat-form-field  appearance="fill"  class="main-table">
        <mat-label>Observaciones</mat-label>
        <textarea formControlName="observation" [readonly]="(order.status !== 'pending')" value='order.observation'   matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
     </div>

  </section>
</div>


<mat-toolbar *ngIf="dataState">
  <button *ngIf="order.status === 'pending'" [disabled]="!observationFrom.valid"   color="primary" mat-button (click)="notArpobar()">Rechazar</button>
  <span class="spacer"></span>

  <button   color="primary" mat-raised-button  [disabled]="!(statusbtn)"    (click)="getCheckbox()">
    <span style="color: #ffffff;"  >Aprobar</span>
  </button>
</mat-toolbar>


<div *ngIf="stateDownload" class="spinner">
  <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>

