<mat-toolbar>
  <span>Modificar articulo entrante</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon color="primary" aria-label="icono de cerrar">close</mat-icon>
  </button>
</mat-toolbar>

<form class="main-form_container" [formGroup]="dataArticleForm">
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Artículo</mat-label>
      <input 
        matInput 
        required 
        placeholder="Hojas bond"
        formControlName="article"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option 
          *ngFor="let option of filteredOptions | async" 
          [value]="option"
          (click)="dataArticleForm.controls.article_id.setValue(option.id)"
          (click)="article == option"
          >
          {{option.name_article}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <mat-error 
    *ngIf="!dataArticleForm.controls.article_id.valid"
  >
    Por favor selecciona un articulo de la lista
  </mat-error>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Cantidad ingresada:</mat-label>
      <input 
        type="number" 
        matInput 
        placeholder="65"
        formControlName="quantity"
        required>
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.quantity">
    <ng-container *ngIf="quantity.hasError(errorMessage.type) && (quantity.dirty || quantity.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Precio Unitario Bs:</mat-label>
      <input 
        type="number" 
        matInput 
        placeholder="2.25"
        formControlName="unit_price"
        required>
    </mat-form-field>
  </div>
  <div *ngFor="let errorMessage of errorsMessages.unitPrice">
    <ng-container *ngIf="unitPrice.hasError(errorMessage.type) && (unitPrice.dirty || unitPrice.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>

  <button 
    class="action-btn__add" 
    mat-raised-button 
    (click)="saveArticle()"
    [disabled]="!dataArticleForm.valid"
    >Modificar</button>
</form>