<mat-toolbar class="mat-elevation-z2">
  <span  style="margin-right: 16px;">Lista de Áreas</span>
  <span class="spacer"></span>
  <button *ngIf="!(isHandset$ | async)" (click)="openUAddEditComponentArea('Crear',{})" class="main-btn" type="button" mat-raised-button >
    <mat-icon>add</mat-icon>
    Área
  </button>
</mat-toolbar>

<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
    
<div *ngIf="emptyState">
  <app-empty-state [emptyData]="emptyData" (btnNewEmitter)="addNewArticle($event)"></app-empty-state>
</div>

<div *ngIf="dataState" class="container">
  <div class="table-container">

    <div class="main-searchbar">
      <div class="main-form-field__container">
        <mat-form-field class="field">
          <mat-label>Encuentra tu Área </mat-label>
          <input 
            matInput 
            (keyup)="applyFilter($event)"
            maxlength="50" 
            class="input-search" 
            placeholder="Encuentra tu Área" #input>
          <mat-icon 
          matSuffix 
          class="material-icons-outlined" 
          aria-hidden="false" 
          aria-label="icon-search"
          >search
        </mat-icon> 
      </mat-form-field>
    </div>
   </div>
       
      
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button routerLink="{{element.id}}" >
          {{element.id}}
       </button>  
     </td>
    </ng-container>
  
    <ng-container matColumnDef="Areas">
      <th mat-header-cell *matHeaderCellDef> Áreas</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Activo">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-slide-toggle [(ngModel)]="element.Active" (change)="onChange($event,element.id,element)"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit</th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="openUAddEditComponentArea('Modificar',element)">
          <mat-icon color="rimary" >mode_edit</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button  class="add-button main-btn"  *ngIf="(isHandset$ | async)" (click)="openUAddEditComponentArea('Crear',{})" mat-fab>
    <mat-icon >add</mat-icon>
  </button>
</div>
</div>

    
     




    