<div class="main-work__progress">
    <br>
    <img src="assets/svg/in-construction.svg" alt="page-not-found">
    <h2>El modulo <strong> {{ title }} </strong> que necesitas aun esta en construcción</h2>
    <p><strong>Tómate un descanso</strong> o puedes probar el modulo de <strong>Articulos</strong></p>
</div>