/* You can add global styles to this file, and also import other style files */

html,body{ height: 100%;}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Quicksand, sans-serif;
 }

:root {
   --primary: #85CE36;
   --secundary: #99C664;
   --tertiary: #D7DDE4;
   --bg: #F0F3F6;
   --dark: #3A4651;
   --error: #FA8282;
   --warming: #FAE317;
}






.btn-swat {
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  width: 150px;
  height: 55px;
  margin: 16px;
}

.btn-success {
  background-color: var(--primary);
  color: white;
}
.btn-danger {
  border: 1px solid var(--primary);
}
.btn-swat:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
}

.main-form-field__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 16px 0px;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0px;
  border-radius: 20px;
  background-color: var(--bg);
}

.main-container__chart .ngx-charts text {
  fill: #fff;
}

.chart-home .ngx-charts text {
  fill: #000;
}


*::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  /*display: none;   Ocultar scroll */
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
*::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
background: #d4d4d4;
}

.main-form-field__calendar {
  width: 290px;
  display: flex;
  flex-direction: row;
  background-color:#F0F3F6;
  border-radius: 36px;
  padding: 3px 9px;
  margin: 16px 0px;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #85CE36;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
  background-color: rgba(29, 135, 229, .2);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #85CE36;
}

.main-container__chart, .line-chart .ngx-charts text , .chart-legend .legend-title-text, .pie-label.animation {
  fill: #ffffff;
  color: #ffffff;
}
/* .line-chart .chart-legend .legend-labels {
  background: #ffffff
} */
