<form class="main-form-field main-year__input">
  <input class="main-year__input-text" [matDatepicker]="dp" placeholder="2021" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #dp
    disabled="false"
    startView="multi-year"
    (yearSelected)="chosenYearHandler($event, dp)"
  >
  </mat-datepicker>
</form>
