.main-form-field {
  height: 44px;
  width: 150px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 12px;
  margin-right: 16px;
}

.main-year__input {
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-year__input-text {
  width: 50px;
  border: none;
  background-color: var(--bg);
  font-size: 1rem;
  opacity: 0.8;
}
