.mat-toolbar {
    background-color: white;
  }
  .mat-toolbar span {
    font-size: 0.875rem;
  }
  
  
  .main-stepper {
    padding: 20px 0px;
  }
  
  .mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: var(--bg);
  }
  
  
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px !important;
    border: 1px solid white;
  }
  
  ::ng-deep .mat-form-field-underline {
    position: static !important;
    margin-top: 10px;
  }
  
  ::ng-deep .mat-horizontal-stepper-header, .mat-vertical-stepper-header{
    pointer-events: none !important;
  }
  
  @media only screen and (min-width: 1366px) {
  
    .mat-toolbar span {
      font-size: 1rem;
    }
  }
  