<mat-toolbar class="mat-elevation-z6">
    <button mat-icon-button (click)="alertData()">
      <mat-icon color="primary" aria-label="icono atras">arrow_back</mat-icon>
    </button>
    <span><strong>Agregar nuevo producto</strong></span>
</mat-toolbar>
<section class="main-stepper">
  
    <mat-stepper  #stepper>
      <mat-step label="Datos del producto">
        <app-general-data #dataGeneral (emitterDataForm)="getFirstDataForm($event)"></app-general-data>
      </mat-step>
      <mat-step label="Unidades de Presentacion">
        <app-units-presentation (emitterDataForm)="getSecondDataForm($event)" [nameProduct]="nameProduct"></app-units-presentation>
      </mat-step> 

      <mat-step label="Ingredientes" >
        <app-articles-supplies (emitterDataForm)="getTreeDataForm($event)" [nameProduct]="nameProduct" ></app-articles-supplies>
      </mat-step>
    </mat-stepper>
  </section>