<mat-toolbar class="mat-elevation-z6 toolbar-header">
  <span>Información de Kardex</span>
  <span class="spacer"></span>
  <button mat-button color="primary">
    Kardex Detalle de Ventas PDF
    <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="decargar pdf">cloud_download</mat-icon>
  </button>
</mat-toolbar>
<section class="container">
  <h1 class="title">Kardex: Detalle de Ventas</h1>
  <div class="main-list__container">
    <mat-list class="main-list" role="list">
      <mat-list-item role="listitem">
        Periodo: {{ dateLabel | date: 'MMMM' | titlecase}} / {{ dateLabel | date: 'YYYY'}}
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Fecha Inicio:</span>
            <input matInput [matDatepicker]="picker" [formControl]="dateSelected">
            <mat-datepicker
              #picker
              disabled="false"
              startView="multi-year"
              (yearSelected)="chosenYearHandler($event)"
              (monthSelected)="chosenMonthHandler($event, picker)"
              panelClass="example-month-picker">
              ></mat-datepicker>
          </div>
          <button mat-icon-button color="primary" (click)="picker.open()">
            <mat-icon class="material-icons-outlined" aria-label="label">calendar_today</mat-icon>
          </button>
        </div>

      </mat-list-item>
      
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Fecha Fin:</span>
            <input matInput [matDatepicker]="secondPicker" [formControl]="dateSelected">
            <mat-datepicker
              #secondPicker
              disabled="false"
              startView="multi-year"
              (yearSelected)="chosenYearHandler($event)"
              (monthSelected)="chosenMonthHandler($event, secondPicker)"
              panelClass="example-month-picker">
              ></mat-datepicker>
          </div>
          <button mat-icon-button color="primary" (click)="secondPicker.open()">
            <mat-icon class="material-icons-outlined" aria-label="label">calendar_today</mat-icon>
          </button>
        </div>

      </mat-list-item>

    </mat-list>
    <mat-list class="main-list" role="list">
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Cuadro N°:  </span>
            <span class="form-data" *ngIf="!isBoxClicked"> {{boxForm.value}} </span>
            <input
              class="form-data"
              matInput
              appAutofocus
              *ngIf="isBoxClicked"
              [formControl]="boxForm"
              (focusout)="isBoxClicked = false"
             >
          </div>
          <button mat-icon-button color="primary" (click)="isClicked('box')">
            <mat-icon class="material-icons-outlined" aria-label="label">edit</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="date-info">
          <div style="display: flex;">
            <span class="text-label">Código:  </span>
            <span class="form-data" *ngIf="!isCodeClicked"> {{codeForm.value}} </span>
            <input
              class="form-data"
              matInput
              appAutofocus
              *ngIf="isCodeClicked"
              [formControl]="codeForm"
              (focusout)="isCodeClicked = false"
             >
          </div>
          <button mat-icon-button color="primary" (click)="isClicked('code')">
            <mat-icon class="material-icons-outlined" aria-label="label">edit</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <button class="add-btn" mat-raised-button color="primary" (click)="addSale()">
          Añadir Nueva Venta
        </button>
      </mat-list-item>

    </mat-list>
  </div>
  <div class="main-table" id="tbls-sumary">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- nro Column -->
      <ng-container matColumnDef="nro" sticky>
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.nro || '1'}} </td>
      </ng-container>

      <!-- code Column -->
      <ng-container matColumnDef="code" sticky>
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.code || '8s5d-Le'}} </td>
      </ng-container>

      <!-- product Column -->
      <ng-container matColumnDef="product" sticky>
        <th mat-header-cell *matHeaderCellDef>Tipo de Producto </th>
        <td mat-cell *matCellDef="let element"> {{element.Producto || 'Queso - Fruta'}} </td>
      </ng-container>


      <!-- unit Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha Venta </th>
        <td mat-cell *matCellDef="let element"> {{date | date}} </td>
      </ng-container>

      <!-- unit Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo Venta </th>
        <td mat-cell *matCellDef="let element"> {{element.Unidad_Presentacion || 'E-F'}} </td>
      </ng-container>

      <!-- unit Column -->
      <ng-container matColumnDef="destiny">
        <th mat-header-cell *matHeaderCellDef> Destino </th>
        <td mat-cell *matCellDef="let element"> {{element.Unidad_Presentacion || 'Facultad-Comedor'}} </td>
      </ng-container>

      <!-- unit Column -->
      <ng-container matColumnDef="order_number">
        <th mat-header-cell *matHeaderCellDef> Nº Recibo </th>
        <td mat-cell *matCellDef="let element"> {{element.Unidad_Presentacion || '852'}} </td>
      </ng-container>

      <!-- unit Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unidad/Presentación </th>
        <td mat-cell *matCellDef="let element"> {{element.Unidad_Presentacion || 'Embase 700cc - Bolsa 1Lt'}} </td>
      </ng-container>

      <!-- cost Column -->
      <ng-container matColumnDef="sale">
        <th mat-header-cell *matHeaderCellDef> Precio Unitario de Venta Bs. </th>
        <td mat-cell *matCellDef="let element"> {{element.Costo_Unitario_Produccion || '28'}} </td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Unidades_Producidas || '10'}} </td>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.Importe || '25'}} </td>
      </ng-container>

      <!-- second_quantity Column -->
      <ng-container matColumnDef="second_quantity">
        <th class="impar-header" mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Cantidad_unidades_daniadas || '5'}} </td>
      </ng-container>

      <!-- second_amount Column -->
      <ng-container matColumnDef="second_amount">
        <th class="impar-header" mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.Importe_unidades_daniadas || '56'}} </td>
      </ng-container>

      <!-- third_quantity Column -->
      <ng-container matColumnDef="third_quantity">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Cantidad_unidades_vendidas || '25'}} </td>
      </ng-container>

      <!-- third_amount Column -->
      <ng-container matColumnDef="third_amount">
        <th mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.Importe_unidades_vendidas || '36'}} </td>
      </ng-container>
      
      <!-- fourth_quantity Column -->
      <ng-container matColumnDef="fourth_quantity">
        <th class="impar-header" mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Cantidad_unidades_vendidas || '25'}} </td>
      </ng-container>

      <!-- fourth_amount Column -->
      <ng-container matColumnDef="fourth_amount">
        <th class="impar-header" mat-header-cell *matHeaderCellDef> Importe Bs </th>
        <td mat-cell *matCellDef="let element"> {{element.Importe_unidades_vendidas || '36'}} </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editSale()">
              <mat-icon color="primary">mode_edit</mat-icon>
              <span>Modificar</span>
            </button>
            <button mat-menu-item>
              <mat-icon color="warn">delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>


      <ng-container matColumnDef="header-row-first-group">
        <th 
          mat-header-cell
          *matHeaderCellDef 
          [style.text-align]="'center'"
          [attr.colspan]="9"> 
        </th>
      </ng-container>
  
      <ng-container matColumnDef="header-row-second-group">
        <th
          mat-header-cell 
          *matHeaderCellDef 
          [attr.colspan]="2">
          <div>
            Unidades Entregadas para la Venta al Contado
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-third-group">
        <th
          class="impar-header"
          mat-header-cell 
          *matHeaderCellDef 
          [attr.colspan]="2">
          <div>
            Unidades Entregadas para la Venta a Crédito 
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-quarter-group">
        <th
          mat-header-cell 
          *matHeaderCellDef 
          [attr.colspan]="2">
          <div>
            Unidades Dañadas/ Defectuosas/Bajas
          </div>
        </th>
      </ng-container>
      <ng-container matColumnDef="header-row-fift-group">
        <th
          class="impar-header"
          mat-header-cell 
          *matHeaderCellDef 
          [attr.colspan]="2">
          <div>
            Total Ventas Reales
          </div>
        </th>
      </ng-container>
      <ng-container matColumnDef="header-row-six-group">
        <th
          class="header-row"
          mat-header-cell 
          *matHeaderCellDef 
          [attr.colspan]="1">
          <div>
          </div>
        </th>
      </ng-container>

      <tr
        class="header-row"
        mat-header-row 
        *matHeaderRowDef="
          [
            'header-row-first-group',
            'header-row-second-group',
            'header-row-third-group',
            'header-row-quarter-group',
            'header-row-fift-group',
            'header-row-six-group',
          ]">
      </tr>
      <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; index as i"
        [ngStyle]="{'background-color': calculateBackground(i)}"
      ></tr>
    </table>
  </div>
</section>
