.toolbar-header {
  background-color: white;
  color: var(--dark);
}

.spacer {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  padding: 30px 20px;
}

.main-list__container {
  width: 60%;
  margin: auto;
  display: flex;
}

.main-list {
  margin: 0px 16px;
  background-color: white;
  min-width: 50%;
  flex-grow: 1;
}

.date-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-data {
  width: 175px;
}

.text-label {
  margin-right: 10px;
}

.main-table {
  margin: auto;
  width: 1200px;
  max-width: 100%;
  max-height: 550px;
  overflow: auto;
}

table {
  width: 1550px;
  margin-top: 30px;
}

.mat-cell,
.mat-footer-cell {
  color: var(--dark);
  padding-left: 16px;
  padding-right: 16px;
}


.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 90px;
  box-sizing: border-box;
}

.header-row {
  background-color: #959CA3;
}

.impar-header {
  background-color: #D7DDE4;
}

.mat-header-cell {
  color: white;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  padding-left: 16px;
  padding-right: 16px;
}

.total-products__faulty-header {
  background-color: rgba(168, 56, 93, 0.50);
}

.total-effectively__header {
  background-color: rgba(133, 206, 54, 0.50);
}

.title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 30px;
  color: #3A4651;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.add-btn {
  margin: auto;
  color: white;
}

.mat-column-product {
  border-right: 1px solid #00000035;
}
.mat-column-action {
  border-left: 1px solid #00000035;
}