<mat-toolbar class="mat-elevation-z6">
  <span class="title">{{ product.name }}</span>
  <span class="subtile">Unidad/Presentación</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

<form class="main-form" [formGroup]="dataPresentationForm">
  <p>Los campos con * son obligatorios</p>
  <br />
  <mat-divider></mat-divider>
  <mat-error
    *ngIf="!dataPresentationForm.controls.presentation.valid"
    >
      Por favor selecciona una presentacion de la lista
  </mat-error>
  <div class="main-form-field__container">
    <mat-form-field >
      <mat-label>Unidad/presentación:</mat-label>
      <input
        matInput
        required
        placeholder="Botella de Lt."
        formControlName="presentation"
        [matAutocomplete]="auto"
      />
      <!-- [displayWith]="displayFn" -->
      <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      >
        <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
        (click)="getPresentation(option)"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>
  <div *ngFor="let errorMessage of errorsMessages.presentation">
    <ng-container
      *ngIf="
        presentationData.hasError(errorMessage.type) &&
        (presentationData.dirty || presentationData.touched)
      "
    >
      <mat-error>{{ errorMessage.message }}</mat-error>
    </ng-container>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Costo Unitario de Producción:</mat-label>
      <input
        type="number"
        matInput
        placeholder="65"
        formControlName="unit_cost_production"
        required
      />
    </mat-form-field>

  </div>
  <div *ngFor="let errorMessage of errorsMessages.unit_cost_production">
    <ng-container *ngIf="unitCostProduction.hasError(errorMessage.type) && (unitCostProduction.dirty || unitCostProduction.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>

  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Precio Unitario de Venta:</mat-label>
      <input
        type="number"
        matInput
        formControlName="unit_price_sale"
        placeholder="52"
        required
      />
    </mat-form-field>

  </div>
  <div *ngFor="let errorMessage of errorsMessages.unit_price_sale">
    <ng-container *ngIf="unitPrice.hasError(errorMessage.type) && (unitPrice.dirty || unitPrice.touched)">
      <mat-error>{{errorMessage.message}}</mat-error>
    </ng-container>
  </div>

  <button
    mat-raised-button
    color="primary"
    style="color: #ffffff"
    [disabled]="!dataPresentationForm.valid"
    (click)="saveData()"
  >
    Agregar
  </button>
</form>
