.mat-toolbar {
  background-color: var(--dark);
  color: white;
}

.mat-raised-button{
  border-radius: 20px !important;
  width: 100%;
  color: #FFFFFF;
  background-color: var(--primary);
}

form {
  padding: 20px;
}

.spacer {
  flex: 1 auto;
}

.main-form__container {
  width: 100%;
}

.action-btn__next {
  border-radius: 32px;
  background-color: var(--primary);
  color: white;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

figure {
  display: none;
}

.main-form__title {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 0.865rem;
}

@media only screen and (min-width: 768px) {
  figure {
    display: block;
    width: 50%;
    padding: 20px;
  }

  .main-form__container {
    width: 50%;
  }

  figure img {
     width: 100%;
  }

  .main-form__title {
    font-size: 1rem;
  }
}