<mat-toolbar class="mat-elevation-z6">
  <span class="title">{{ product.name }}</span>
  <span class="subtile">Ingredientes</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="icon-close">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="determinate" value=20></mat-progress-bar>

<form class="main-form" [formGroup]="dataArticleForm">
  <p>Los campos con * son obligatorios</p>
  <br/>
  <mat-divider></mat-divider>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Materia prima/Insumo*:</mat-label>

      <input
        matInput
        required
        placeholder="Azucar"
        formControlName="article"
        [readonly]="true"
        [matAutocomplete]="auto">
      <mat-autocomplete
        [displayWith]="displayFn"
        #auto="matAutocomplete"
        >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
          (click)="getArticle()"
          >
          {{option.name_article}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <small *ngIf="articleSelected">Stock: {{stock}} {{unit_measure}} (s)</small>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Formula Base:</mat-label>
      <input
        type="number"
        matInput
        formControlName="quantity"
        placeholder="65"
        required>
    </mat-form-field>
    <div *ngFor="let errorMessage of errorsMessages.quantity">
      <ng-container
        *ngIf="
        quantity.hasError(errorMessage.type) &&
        (quantity.dirty || quantity.touched)
      "
      >
        <mat-error>{{ errorMessage.message }}</mat-error>
      </ng-container>
    </div>
  </div>
  <div class="main-form-field__container">
    <mat-form-field>
      <mat-label>Unidad de Medida:</mat-label>
      <input
        type="text"
        matInput
        placeholder="Lts/kg"
        formControlName="unit_measure"
        [value]="articleMeasure"
        [readonly]="true">

    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    style="color: #ffffff;"
    [disabled]="!dataArticleForm.valid"
    (click)="saveData()"
  >Modificar</button>
</form>
