<mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button (click)="goBack()">
    <mat-icon color="primary" aria-label="icono atras">arrow_back</mat-icon>
  </button>
  <span><strong>Agregar nueva nota de recepción</strong></span>
</mat-toolbar>
<section class="main-stepper">
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  <mat-stepper [linear]="false" [orientation]="(isHandset$ | async) == true? 'vertical':'horizontal'" [linear]="true" #stepper>
    <mat-step label="Datos de nota de recepción">
      <app-first-step (emitterDataForm)="getFirstDataForm($event)"></app-first-step>
    </mat-step>
    <mat-step label="Articulos entrantes">
      <app-second-step (emittDataForm)="getSecondDataForm($event)"></app-second-step>
    </mat-step>
  </mat-stepper>
</section>