<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <span>Menu: {{rolUser}}</span>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <app-main-nav (titleNewEvent)="changeTitle($event)"></app-main-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [title]="title"></app-header>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
