* {
  font-family: Quicksand, sans-serif;
}

.sidenav-container {
  height: 100%;
  background-color: var(--bg);
}

.sidenav {
  width: 250px;
  background-color: var(--dark);
}

.sidenav .mat-toolbar {
  background: inherit;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-divider {
  border-top-color: rgba(255, 255, 255, 0.25);
}